<main class="container">

    <!-- <h3>THEMES</h3> -->
    <!-- The loader -->
    <!-- <div class="card-columns loader">

        <div class="card theme1  border-0 m-3 p-3 " style="height: 350px;">
                <div class="w-75  bg-light p-3 mx-auto br-30"> </div>
                <br>
               
             
                <div class="d-flex justify-content-center">
                    <div class="w-25 br-30 bg-light p-3"></div>
                    <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                    <div class="w-25 br-30 bg-light p-3"></div>
                </div>
                <br><br><br>
                <div class="w-100 br-30 bg-light p-5 mx-auto"> </div>
        </div>

        <div class="card theme2 border-0  m-3 p-3 " style="height: 350px;">
               
                <div class="w-100 br-30 bg-light p-5 mx-auto"> </div>
                <br><br><br>
                <div class="w-75  bg-light p-3 mx-auto br-30"> </div>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="w-25 br-30 bg-light p-3"></div>
                    <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                    <div class="w-25 br-30 bg-light p-3"></div>
                </div>
        </div>


        <div class="card theme3 m-3 p-3 border-0" style="height: 350px;">
            <div class="w-75  bg-light p-3 mx-auto br-30"> </div>
            <br>
            <div class="w-100 br-30 bg-light p-5 mx-auto"> </div>
            <br><br><br>
            <div class="d-flex justify-content-center">
                <div class="w-25 br-30 bg-light p-3"></div>
                <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                <div class="w-25 br-30 bg-light p-3"></div>
            </div>

            
        </div>


    </div> -->

    <!-- The themes/ -->
    <div class="card-columns ">
        <div class="card shadow m-3 clickable selected" *ngFor="let th of theme; let i = index"
            [style.opacity]="i==prev ? 1: 0.8" style="position: relative;" (click)="selected(th.template_id, 1)">
            <img src="{{th.image}}" alt="" class="card-img-top">
            <div class="card-body  bg-light">
                <p class="card-title text-center">
                    <span>{{th.template_name}}</span>
                </p>
            </div>
            <div style="position: absolute; top: 0%; left: 0%; right: 0%; bottom: 0%; background: rgba(0,0,0,0.2)" class=" d-flex justify-content-center" >
                <a mat-icon-button [hidden]="th.template_id != prev"    class="align-self-center text-light " >
                    <i style="font-size: 80px" class="fa shadow fa-check-circle fa-lg" [hidden]="submitted"></i>
                    <span style="font-size: 100px" class="spinner-grow spinner-grow-lg" [hidden]="!submitted"></span>
                </a>
               
            </div>
        </div>
    </div>
</main>