<div>
    <form class="content-container p-1 " [formGroup]="proGroup" novalidate (submit)="addNew()">
        <h6 class="text-primary">New Experience</h6>
        <br>

        <div class="form-group">
            <span class="small text-center">Project Name</span>
            <input type="text" formControlName="projectname" class="form-control border-0 light" placeholder="">
        </div>

        <div class="form-group">
            <span class="small text-center">Description</span>
            <textarea  rows="5" formControlName="desc" class="form-control border-0 light" placeholder="let it capture the year, the client and impact" ></textarea>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-primary shadow w-50" [disabled]="proGroup.invalid ">
                <span>Add </span>
            </button>
        </div>

        <div class="text-center">
            <a href="#" (click)="close($event)" class="text-secondary small">close</a>
        </div>
    </form>

   
</div>