<div class="container-fluid px-md-4">
    
    <div class="text-right my-2">

        <span class="small  p-2 text-secondary">Monday, 29 April, 2019</span>
    </div>


    <div class="row">
        <div class="col-md ">
            <main class="container-fluid">

            
                    <div class="  row">
                        <!-- Websites -->
                        <div class=" col-md  m-1 p-2 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'" >
                            <div class="d-flex justify-content-between ">
                                <span class="text-fade small font-weight-bold">Users</span>
                                <span  class="numbers  border-0" [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;"
                                >
                                    <ly-icon color="primary">people</ly-icon>
                                </span>
                            </div>

                            <div>
                                <h4 class="lead display-4 text-center" [ngClass]="night ? 'text-light ': 'text-dark'">
                                    <strong>{{user_count}}</strong>
                                    <strong class="spinner-grow spinner-grow-lg" [hidden]="user_count"></strong>
                                </h4>
                            </div>

                            <div class="text-center">
                                <span class="text-success small">
                                    <span>0.15%</span>
                                </span>
                                &nbsp;
                                <span class="small text-fade">January, 2019</span>
                            </div>
                        </div> 

                        <!-- accounts -->
                        <div class=" col-md  m-1 p-2 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                                <div class="d-flex justify-content-between">
                                    <span class="text-fade small font-weight-bold">Web Sites</span>
                                    <span class="numbers  border-0" [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                        <ly-icon color="primary">language</ly-icon>
                                    </span>
                                </div>
    
                                <div>
                                    <h4 class="lead  display-4 text-center " [ngClass]="night ? 'text-light ': 'text-dark'">
                                        <strong>{{site_count}}</strong>
                                        <strong class="spinner-grow spinner-grow-lg" [hidden]="site_count"></strong>

                                    </h4>
                                </div>
    
    
                                <div class="text-center">
                                    <span class="text-danger small">
                                        <span>0.1%</span>
                                    </span>
                                    &nbsp;
                                    <span class="small text-fade">January, 2019</span>
                                </div>
                            </div>
                    </div>

                    <!-- //////////// -->
                    <div class="  row">
                            <!-- stores -->
                            <div class="col-md bg-white m-1 p-3 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-fade small font-weight-bold">Stores</span>
                                        <span class="numbers  border-0" [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                            <ly-icon color="primary">shopping_cart</ly-icon>
                                        </span>
                                    </div>
        
                                    <div>
                                        <h4 class="lead text-light display-4 text-center" [ngClass]="night ? 'text-light ': 'text-dark'">
                                            <strong>{{store_count}}</strong>
                                            <strong class="spinner-grow spinner-grow-lg" [hidden]="store_count"></strong>
                                        
                                        </h4>
                                    </div>
        
        
                                    <div class="text-center">
                                        <span class="text-danger small">
                                            <span>0.1%</span>
                                        </span>
                                        &nbsp;
                                        <span class="small text-fade">January, 2019</span>
                                    </div>
                                </div>
                                <!-- analysis -->
                                <div class=" col-md bg-white m-1 p-3  shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-fade small font-weight-bold">Reports</span>
                                            <span class="numbers  border-0" [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                                <ly-icon color="primary">info</ly-icon>
                                            </span>
                                        </div>
            
                                        <div>
                                            <h4 class="lead  display-4 text-center " [ngClass]="night ? 'text-light ': 'text-dark'"><strong>102</strong></h4>
                                        </div>
            
            
                                        <div class="text-center">
                                            <span class="text-danger small">
                                                <span>0.1%</span>
                                            </span>
                                            &nbsp;
                                            <span class="small text-fade">January, 2019</span>
                                        </div>
                                    </div>
                    </div>
                    <br>

                  


            </main>
        </div>


        <!--------------------------
                     site information
             ------------------------------>
        <div class="col-md-4 px-3 pb-3 pt-1 ">
        
            <div class=" p-2 h-100  shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">

                    <div class="d-flex justify-content-between">
                            <span class="text-fade small font-weight-bold">site Reports</span>
                            <span class="numbers border-0 " [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                <ly-icon color="primary">pie_chart</ly-icon>
                            </span>
                    </div>
                    <br>

                  <div>
                      <table class="table table-borderless table-striped">
                          <!-- <thead>
                              <th class="small text-fade">Type</th>
                              <th class="small text-fade">%</th>
                          </thead> -->

                          <tbody>
                              <tr> 
                                  <td class="small " [ngClass]="night ? 'text-light ': 'text-dark'" style="width: 50px;">Blog ({{blog_count}})</td>
                                  <td>
                                        <div class="progress" style="height: 1.5em;">
                                                <div class="progress-bar my-primary"  [style.width]="blog_per + '%'">{{blog_per}}%</div>
                                        </div>
                                     
                                  </td>
                              </tr>
                              <tr>
                                    <td class="small " [ngClass]="night ? 'text-light ': 'text-dark'" style="width: 50px;">Store ({{store_count}})</td>
                                    <td>
                                          <div class="progress" style="height: 1.5em;">
                                                  <div class="progress-bar my-primary" role="progressbar" [style.width]="store_per + '%'">{{store_per}}%</div>
                                          </div>
                                          
                                       
                                    </td>
                                </tr>
                                <tr>
                                        <td class="small " [ngClass]="night ? 'text-light ': 'text-dark'" style="width: 50px;">Portfolio ({{port_count}})</td>
                                        <td>
                                              <div class="progress" style="height: 1.5em;">
                                                      <div class="progress-bar my-primary" role="progressbar" [style.width]="port_per + '%'">{{store_per}}%</div>
                                              </div>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                            <td class="small " [ngClass]="night ? 'text-light ': 'text-dark'" style="width: 50px;">Business ({{biz_count}})</td>
                                            <td>
                                                  <div class="progress" style="height: 1.5em;">
                                                          <div class="progress-bar my-primary" role="progressbar" [style.width]="biz_per + '%'">{{biz_per}}%</div>
                                                  </div>
                                               
                                            </td>
                                        </tr>
                          </tbody>
                      </table>
                        

                  </div>
               
            </div>
        </div>
    </div>
</div>




<!-- Payment and revenue -->
<main class="container-fluid px-md-4">
    <div class="row">

        <div class="col-md">
                <div class="  p-3 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                        <div class="d-flex justify-content-between">
                                <span class="text-fade small font-weight-bold">Recent Payment Log</span>
                                <span class="numbers border-0 " [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                    <ly-icon color="primary">payment</ly-icon>
                                </span>
                            </div>
                        <br>
            
                        <div class="table-responsive">
                            <table class="table table-md table-borderless table-striped">
                                <!-- <thead class="small  text-secondary">
                                    <th>User</th>
                                    <th>VID</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                </thead> -->
            
                                <tbody>
                                    <tr *ngFor="let h of [1,2,3,4,5]">
                                        <td>
                                            <a routerLink="/admin/dashboard" class="" [ngClass]="night ? 'text-light ': 'text-dark'">Henshaw Samuel</a>
                                        </td>
                                        <td class="text-fade">  <span class="badge badge-dark text-fade p-2">VID</span> TR-27638</td>
                                        <td class=" text-fade">May 24th, 2019</td>
                                        <td>
                                            <span class="badge  my-primary-fade text-fade p-2">E-commerce</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
        </div>


        <div class="col-md-4">
            <div class="p-3 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                    <div class="d-flex justify-content-between">
                            <span class="text-fade small font-weight-bold">Revenue</span>
                            <span class="numbers border-0 " [ngClass]="night ? 'bg-black-light ': 'bg-back'" style="width: 60px; height: 60px; line-height: 70px;">
                                <ly-icon color="primary">money</ly-icon>
                            </span>
                    </div>

                    <div class="d-flex justify-content-center">
                            <mat-progress-spinner
                            color="primary"
                            value="75"
                            >
                        </mat-progress-spinner>
                    </div>

                  
            </div>
        </div>
    </div>
   
</main>

<br><br>






<!-- 
<main>
        <br>
        <div class=" bg-white">
            <p class="m-blue p-2 text-light">Blog Review</p>
            <div class="p-5">
    
            </div>
        </div>
</main> -->