<div class="container-fluid px-md-4">
    
    <div class="text-right my-2">

        <span class="small  p-2">Monday, 29 April, 2019</span>
    </div>


    <div class="row">
        <div class="col-md ">
            <main class="container-fluid">

            
                    <div class="  row">
                        <!-- Websites -->
                        <div class=" col-md bg-white m-1 p-2">
                            <div class="d-flex justify-content-between">
                                <span class="text-dark small font-weight-bold">Users</span>
                                <span class="numbers bg-light" style="width: 60px; height: 60px; line-height: 70px;">
                                    <ly-icon color="primary">people</ly-icon>
                                </span>
                            </div>

                            <div>
                                <h4 class="lead  display-4 text-center"><strong>672</strong></h4>
                            </div>

                            <div class="text-center">
                                <span class="text-success small">
                                    <span>0.15%</span>
                                </span>
                                &nbsp;
                                <span class="small">January, 2019</span>
                            </div>
                        </div>

                        <!-- accounts -->
                        <div class=" col-md bg-white m-1 p-2 ">
                                <div class="d-flex justify-content-between">
                                    <span class="text-dark small font-weight-bold">Web Sites</span>
                                    <span class="numbers bg-light" style="width: 60px; height: 60px; line-height: 70px;">
                                        <ly-icon color="primary">language</ly-icon>
                                    </span>
                                </div>
    
                                <div>
                                    <h4 class="lead  display-4 text-center"><strong>200</strong></h4>
                                </div>
    
    
                                <div class="text-center">
                                    <span class="text-danger small">
                                        <span>0.1%</span>
                                    </span>
                                    &nbsp;
                                    <span class="small">January, 2019</span>
                                </div>
                            </div>
                    </div>

                    <!-- //////////// -->
                    <div class="  row">
                            <!-- stores -->
                            <div class="col-md bg-white m-1 p-3">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-dark small font-weight-bold">Stores</span>
                                        <span class="numbers bg-light" style="width: 60px; height: 60px; line-height: 70px;">
                                            <ly-icon color="primary">shopping_cart</ly-icon>
                                        </span>
                                    </div>
        
                                    <div>
                                        <h4 class="lead  display-4 text-center"><strong>200</strong></h4>
                                    </div>
        
        
                                    <div class="text-center">
                                        <span class="text-danger small">
                                            <span>0.1%</span>
                                        </span>
                                        &nbsp;
                                        <span class="small">January, 2019</span>
                                    </div>
                                </div>
                                <!-- analysis -->
                                <div class=" col-md bg-white m-1 p-3">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-dark small font-weight-bold">Reports</span>
                                            <span class="numbers bg-light" style="width: 60px; height: 60px; line-height: 70px;">
                                                <ly-icon color="primary">info</ly-icon>
                                            </span>
                                        </div>
            
                                        <div>
                                            <h4 class="lead  display-4 text-center"><strong>102</strong></h4>
                                        </div>
            
            
                                        <div class="text-center">
                                            <span class="text-danger small">
                                                <span>0.1%</span>
                                            </span>
                                            &nbsp;
                                            <span class="small">January, 2019</span>
                                        </div>
                                    </div>
                    </div>
                    <br>

                  


            </main>
        </div>


        <!--------------------------
                     site information
             ------------------------------>
        <div class="col-md-4 px-3 pb-3 pt-1 ">
        
            <div class="bg-white p-2 h-100">

                    <div>
                            <span class="text-dark small font-weight-bold">site Reports</span>
                    </div>
                    <br>

                  <div>
                      <table class="table">
                          <thead>
                              <th class="small text-secondary">Type</th>
                              <th class="small text-secondary">%</th>
                          </thead>

                          <tbody>
                              <tr>
                                  <td class="small" style="width: 50px;">Blog</td>
                                  <td>
                                        <div class="progress" style="height: 1.5em;">
                                                <div class="progress-bar my-primary"  style="width: 45%;"></div>
                                        </div>
                                     
                                  </td>
                              </tr>
                              <tr>
                                    <td class="small" style="width: 50px;">Store</td>
                                    <td>
                                          <div class="progress" style="height: 1.5em;">
                                                  <div class="progress-bar my-primary" role="progressbar" style="width: 25%;"></div>
                                          </div>
                                          
                                       
                                    </td>
                                </tr>
                                <tr>
                                        <td class="small" style="width: 50px;">Portfolio</td>
                                        <td>
                                              <div class="progress" style="height: 1.5em;">
                                                      <div class="progress-bar my-primary" role="progressbar" style="width: 70%;"></div>
                                              </div>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                            <td class="small" style="width: 50px;">Business</td>
                                            <td>
                                                  <div class="progress" style="height: 1.5em;">
                                                          <div class="progress-bar my-primary" role="progressbar" style="width: 25%;"></div>
                                                  </div>
                                               
                                            </td>
                                        </tr>
                          </tbody>
                      </table>
                        

                  </div>
               
            </div>
        </div>
    </div>
</div>




<!-- Payment and revenue -->
<main class="container-fluid px-md-4">
    <div class="row">

        <div class="col-md">
                <div class=" bg-white p-3">
                        <div class="d-flex justify-content-between">
                                <span class="text-dark small font-weight-bold">Recent Payment Log</span>
                                <span class="numbers bg-light" style="width: 60px; height: 60px; line-height: 70px;">
                                    <ly-icon color="primary">payment</ly-icon>
                                </span>
                            </div>
                        <br>
            
                        <div class="table-responsive">
                            <table class="table table-md">
                                <thead class="small  text-secondary">
                                    <th>User</th>
                                    <th>VID</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                </thead>
            
                                <tbody>
                                    <tr *ngFor="let h of [1,2,3,4,5]">
                                        <td>
                                            <a routerLink="/admin/dashboard">Henshaw Samuel</a>
                                        </td>
                                        <td class="small">TR-27638</td>
                                        <td class="small">May 24th, 2019</td>
                                        <td>
                                            <span class="badge  my-primary-fade p-2">E-commerce</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
        </div>


        <div class="col-md-4">
            <div class="p-3 bg-white">
                    <div>
                            <span class="text-dark small font-weight-bold">Revenue</span>
                    </div>

                    <div class="d-flex justify-content-center">
                            <mat-progress-spinner
                            color="warn"
                            value="75">
                        </mat-progress-spinner>
                    </div>

                  
            </div>
        </div>
    </div>
   
</main>

<br><br>






<!-- 
<main>
        <br>
        <div class=" bg-white">
            <p class="m-blue p-2 text-light">Blog Review</p>
            <div class="p-5">
    
            </div>
        </div>
</main> -->