
        <div class="row m-1">
            <div class="col p-2">
                    <div class="theme1 " style="height: 30px; background: rgba(0,0,0,0.05)"></div>
            </div>
            <div class="col p-2">
                    <div class=" theme2" style="height: 30px; background: rgba(0,0,0,0.05)"></div>
            </div>
            <div class="col p-2 d-none d-md-inline">
                    <div class=" theme3 " style="height: 30px; background: rgba(0,0,0,0.05)"></div>
            </div>
            <div class="col p-2 d-none d-md-inline">
                    <div class=" theme1 " style="height: 30px; background: rgba(0,0,0,0.05)"></div>
            </div>
        </div>


    