
<footer class="container-fluid bg-light p-4 w-100" >


    <div class="text-center century">
        <!-- <img src="/assets/img/logo.png" alt="" class="img img-fluid" style="width: 50px"> -->
         <!-- social media -->
         <div class="small p-md-3 px-1 soc-md small d-flex justify-content-center" >
                <a href="https://www.facebook.com/SDELI.ORG" target="_blank" mat-mini-fab  color  matTooltips="Facebook" class="">
                    <i class="fa fa-facebook fa-lg text-dark" ></i>
                </a><br><br>
                &nbsp;&nbsp;
                <a href="https://twitter.com/NaijaDeafTalent" target="_blank" mat-mini-fab  color matTooltips="Twitter" class=" ">
                    <i class="fa fa-twitter fa-lg text-dark"></i>
                </a><br><br>
        </div>
        <p class="text-dark ">&copy; 2019</p>
      
    </div>
</footer>