
<div class="  p-1" >
    <button routerLink="/dash/website/theme"  mat-button color class="text-secondary " routerLinkActive="border ">
        <span class="small font-weight-bold" routerLinkActive="text-primary ">THEMES</span>
    </button>
    &nbsp;
    <button routerLink="/dash/website/identity" routerLinkActive="text-primary" mat-button color class="text-secondary" routerLinkActive="border " >
        <span  class="small font-weight-bold" routerLinkActive="text-primary" >PREFERENCES</span>
    </button>
    &nbsp;
</div>


<div class="container p-md-2 px-md-5">
    <router-outlet></router-outlet>
</div>