<main class="container-fluid">
                
         <!----------------------------
                 LOader
        -------------------------- -->
                <!-- <div>
                                <div class="theme1 p-5">
                      
                                        <div class="d-flex justify-content-center">
                                                <div class="w-25 br-30 bg-light p-3"></div>
                                                <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                                                <div class="w-25 br-30 bg-light p-3"></div>
                                        </div>
                                </div>
                      
                                <br><br>
                      
                                <div class="card-columns">
                                        <div class="card border-0 theme2 p-5">
                                                <div class="d-flex justify-content-center">
                                                        <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                      
                                                </div>
                                        </div>
                                        <div class="card border-0 theme2 p-5">
                                                <div class="w-75 br-30 bg-light p-3"></div><br><br>
                                                <div class="w-75 br-30 bg-light p-2"></div><br><br>
                                                <div class="w-25 br-30 bg-light p-2"></div>
                      
                                        </div>
                                        <div class="card border-0 theme2 p-5">
                                                <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                                        </div>
                                </div>
                        </div> -->
       


        <!-- <form novalidate (submit)="saveSiteData()" [formGroup]="siteFG"> -->
         <!----------------------------
                 Site Header Edit
        -------------------------- -->

        
        
                <div class="  ">
                               
                           <!---------- ------------------
                         Logo
                -------------------------- -->
        
                               
                                <div class=" p-2 col-md" style="position: relative;">
                                                <p class="text-secondary lead small font-weight-bold">LOGO</p>
                                               
                                                <div class="text-center">
                                                        <a href="#"  class="m-auto">
                                                            <img src="{{imgbaseUrl+ logolink}}" class="card-img-top  "  style="width: 200px;">
                                                        </a>
                                                        
                                                    </div>
                                                
                                                    

                                                        <div style="position: absolute; top: 0%; left: 0%; right: 0%; bottom: 0%; " class=" d-flex justify-content-center">
                                                                <a href="#" (click)="openMedia( $event, 0)" class=" align-self-center">
                                                                    <!-- <i class="	fa fa-instagram text-dark display-1" style="opacity: 0.4;"></i> -->
                                                        <mat-icon class="text-secondary display-1" style="opacity: 0.4;">add_a_photo</mat-icon>

                                                                </a>
                                                            </div>
                                                   
        
                                                
                                        </div>
                
                             
        
                </div>
                <br><br>

                   <!----------------------------
                         Header Image
                -------------------------- -->
        
               <div class="">
                <p class="m-3 text-secondary lead small font-weight-bold">HEADER IMAGE</p>
                 <div class="container px-0 " style="position: relative; cursor: pointer;" >
                        
                                 <div class="" style="max-height: 400px; overflow: hidden;">
                                         <img #img src="{{imgbaseUrl+imglink}}" alt="" class="img img-fluid  w-100">
                                 </div>
                                 <div style="position: absolute; top: 0%; left: 0%; right: 0%; bottom: 0%; " class=" d-flex justify-content-center">
                                                 <a class="clickable  align-self-center " (click)="openMedia($event, 1 )" href="#">
                                                        <!-- <i class="	fa fa-instagram text-dark display-1" style="opacity: 0.4;"></i> -->
                                                        <mat-icon class="text-secondary display-1" style="opacity: 0.4;">add_a_photo</mat-icon>
                                                 </a>
                                             </div>
                         </div>
        </div>
         <br><br>
 
 
  
 
         <br>
 
      
 
         

            <!----------------------------
                        fileds
                -------------------------- -->



                <div class="row">
                        <div class="col-md">
                                <div class=" w-100 formg-group" >
                                        <span class="small text-secondary font-weight-bold small">SITE COLOR</span>
                                        <input hidden  [(ngModel)]="color" type="color"  class=" form-control lead py-2 text-center w-100 " #col (change)="showColor($event)">
                                        <button class=" shadow w-100"mat-button [style.backgroundColor]="color" (click)="col.click()">Select site color</button>
                                </div>
                        </div>

                        <div class="col-md">
                                <div class="form-group">
                                        <span class="small text-secondary font-weight-bold small">BUSINESS NAME</span>
                                        <input  [(ngModel)]="business_name" type="text"  class="form-control w-100 ">
                                        
                                                
                                </div>
                        </div>

                        <div class="col-md">

                                <div class="form-group" >
                                        <span class="small text-secondary font-weight-bold small">HEADER TITLE </span>
                                        <input  [(ngModel)]="head_title" type="text"  class="form-control w-100 ">
                                </div>
                        </div>
                </div>
                <br>

            
        
               


 
       

        
                <!--------------------------------------------
                        MISSION and VISSION
                ---------------------------------------------->
              
                
                                <div class=" p-2">
                                                <div class="formg-group">
                                                        
                                                        <!-- <label class="switch ">
                                                                        <input type="checkbox" [checked]="vission.enabled" >
                                                                        <span class="slider round"></span>
                                                        </label> -->
                                                        <span class="small text-secondary font-weight-bold small"> VISION</span>
                                                        <angular-editor [(ngModel)]="vission.vission"  [placeholder]="'What is the vision'"
                                                                [config]="editorConfig"></angular-editor>
                                                </div>
                                                <br>
                                                <div class="formg-group">
                                                        <!-- <label class="switch ">
                                                                        <input type="checkbox" [checked]="mission.enabled" >
                                                                        <span class="slider round"></span>
                                                        </label> -->
                                                        <span class="small font-weight-bold text-secondary"> MISSION</span>
                                                        <angular-editor [(ngModel)]="mission.mission"  [placeholder]="'What is the Mission'"
                                                                [config]="editorConfig"></angular-editor>
                                                </div>
                                        </div>
        
        
                
                
                <br>
        
                 <!--------------------------------------------
                        SOCIAL MEDIA SITES
                ---------------------------------------------->
              
                   
        
                       <div class="form-group card-columns ">
                        <div class="  card bg-light border-0" *ngFor="let soc of socialMedia.handles"> <!--Facebook-->
                                <span class=" text-secondary p-2  " >
                                        <i class="{{'fa fa-'+ soc.name}} fa-lg"></i>
                                </span>
                                <!-- <label class="switch">
                                        <input type="checkbox" class="" #fb_check [checked]="soc.enabled" >
                                        <span class="slider round my-auto"></span>
                                </label> -->
                                <input  type="text" class="form-control " [(ngModel)]="soc.link">
                        </div>
                        <br>
                       </div>

                      
        
                <!--------------------------------------------
                        BUSINESS DESCRIPTION ABOUT US
                ---------------------------------------------->
                <div class="formg-group">
                                <span class="small text-secondary font-weight-bold small">DESCRIPTION</span>

                                        <textarea class="form-control"  [(ngModel)]="description" [placeholder]="'About '" rows="10px"></textarea>
                </div>
        
        
        
                <br>
        
        
                <!--------------------------------------------
                        Save Button
                ---------------------------------------------->
                <div class="p-2 text-center">
                                <button [disabled]="submitted" (click)="save_site_data()"   class="br-30 shadow   p-3 w-50 btn btn-primary " >
                                        <span>Save changes</span>
                                         &nbsp;&nbsp;
                                         <i [hidden]="!submitted" class="fa fa-circle-o-notch fa-spin"></i>
                                </button>
                        </div>
        
                        <br><br>
                       
                        <!-- </form> -->
      
</main>