<main class="container-fluid">
                <br> <br><br>
         <!----------------------------
                 LOader
        -------------------------- -->
                <div>
                                <div class="theme1 p-5">
                      
                                        <div class="d-flex justify-content-center">
                                                <div class="w-25 br-30 bg-light p-3"></div>
                                                <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                                                <div class="w-25 br-30 bg-light p-3"></div>
                                        </div>
                                </div>
                      
                                <br><br>
                      
                                <div class="card-columns">
                                        <div class="card border-0 theme2 p-5">
                                                <div class="d-flex justify-content-center">
                                                        <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                      
                                                </div>
                                        </div>
                                        <div class="card border-0 theme2 p-5">
                                                <div class="w-75 br-30 bg-light p-3"></div><br><br>
                                                <div class="w-75 br-30 bg-light p-2"></div><br><br>
                                                <div class="w-25 br-30 bg-light p-2"></div>
                      
                                        </div>
                                        <div class="card border-0 theme2 p-5">
                                                <div class=" br-30 bg-light p-3 mx-2" style="width: 10%"></div>
                                        </div>
                                </div>
                        </div>
       


        <!-- <form novalidate (submit)="saveSiteData()" [formGroup]="siteFG"> -->
         <!----------------------------
                 Site Header Edit
        -------------------------- -->

        <div class="p-3 text-center bg-dark">
                
                        <h6 class="lead text-light">SITE HEADER EDIT</h6>
                </div>
                <br>
        
                <div class="bg-white  ">
                               
                           <!----------------------------
                         Logo
                -------------------------- -->
        
                               
                                <div class="bg-white p-2 col-md">
                                                <p>Edit Logo</p>
                                               
                                                <div class=" bg-dark  d-flex mx-auto mat-elevation-z7 logo-container" (click)="openMedia(display, 0)" style="cursor: pointer;">
                                                        <div class=" align-self-center">
                                                                <img src="{{logolink}}" style="width: 100%; height: 150px; clip-path: circle(50%);">
                                                        </div>
                                                   
        
                                                </div>
                                        </div>
                
                             
        
                </div>
                <br><br>
        
                <div class="bg-white p-2">
                        <span>Edit Header Title</span>
                        <button type="button" (click)="isEditTitle = !isEditTitle" mat-icon-button><mat-icon>{{!isEditTitle ? 'edit': 'check'}}</mat-icon></button>
                        <div class="d-flex justify-content-center">
                                <mat-form-field class=" w-75">
                                        <input matInput  [(ngModel)]="head_title" type="text" value="IHIFIX TECHnologies" class="lead text-center ">
                                </mat-form-field><br>
                                
                        </div>
                       
                       
                </div>
                <br><br>
           <!----------------------------
                         Header Image
                -------------------------- -->
        
               <div class="bg-white">
                       <p class="m-3">Edit Header Image</p>
                        <div class="container px-0 " style="position: relative; cursor: pointer;" (click)="openMedia(img, 1)">
                               
                                        <div class="" style="max-height: 400px; overflow: hidden;">
                                                <img #img src="{{imglink}}" alt="" class="img img-fluid w-100">
                                        </div>
                                        <div style="position: absolute; top: 0px; left: 0px; right: 0%; bottom: 0px; background: rgba(0,0,0,0.1);"
                                                class="d-flex justify-content-center">
                                              
                                        </div>
                                </div>
               </div>
                <br><br>
        
        
         
        
                <br>
        
             
        
                <br>
                <!--------------------------------------------
                        MISSION and VISSION
                ---------------------------------------------->
                <div class="p-3 text-center bg-dark">
                        
                                <h6 class="lead text-light">MISSION & VISSION</h6>
                        </div>
                <br>
                
                
                                <div class="bg-white p-2">
                                                <div class="formg-group">
                                                        <mat-checkbox [checked]="vission.enabled" >Enable Vission</mat-checkbox>
                                                        <angular-editor [(ngModel)]="vission.vission"  [placeholder]="'What is the vision'"
                                                                [config]="editorConfig"></angular-editor>
                                                </div>
                                                <br>
                                                <div class="formg-group">
                                                        <mat-checkbox [checked]="mission.enabled" >Enable Mission</mat-checkbox>
                                                        <angular-editor [(ngModel)]="mission.mission"  [placeholder]="'What is the Mission'"
                                                                [config]="editorConfig"></angular-editor>
                                                </div>
                                        </div>
        
        
                
                
                <br>
        
                 <!--------------------------------------------
                        SOCIAL MEDIA SITES
                ---------------------------------------------->
                <div class="p-3 text-center bg-dark">
                                <h6 class="lead text-light">SITE SOCIAL LINKS</h6>
                        </div>
        
                        <br>
        
                        <div class="d-flex bg-dark my-2" *ngFor="let soc of socialMedia.handles"> <!--Facebook-->
                                <span class=" text-light p-2  " >
                                        <i class="{{'fa fa-'+ soc.name}}"></i>
                                </span>
                                <input  type="text" class="w-100 text-center small" [(ngModel)]="soc.link">
                                <div class="p-2">
                                        <input type="checkbox" class="" #fb_check [checked]="soc.enabled" >
                                </div>
                                
                        </div>
                        <br>

                      
        
                <!--------------------------------------------
                        BUSINESS DESCRIPTION ABOUT US
                ---------------------------------------------->
                <div class="p-3 text-center bg-dark">
                                <h6 class="lead text-light">SHORT DESCRIPTION OF BUSINESS</h6>
                        </div>
        
                <div class="formg-group">
                                <angular-editor  [(ngModel)]="about.about" [placeholder]="'About '"
                                        [config]="editorConfig"></angular-editor>
                </div>
        
        
        
                <br>
        
        
                <!--------------------------------------------
                        Save Button
                ---------------------------------------------->
                <div class="p-2 d-flex justify-content-center">
                                <button [disabled]="submitted" (click)="save_site_data()" mat-raised-button color='primary' class="" >
                                        <span>Save</span>
                                         &nbsp;&nbsp;
                                         <i [hidden]="!submitted" class="fa fa-circle-o-notch fa-spin"></i>
                                </button>
                        </div>
        
                        <br><br>
                       
                        <!-- </form> -->
      
</main>