<nav class="nav bg-black">
    <li class="nav-item " routerLinkActive="bg-black-light">
        <a class="nav-link text-fade" routerLink="/admin/accounts/user-list" routerLinkActive="text-light">
            <ly-icon class="d-md-none">supervisor_account</ly-icon>
            <span class="d-none d-md-inline">Accounts</span>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="bg-black-light ">
        <a class="nav-link text-fade" routerLinkActive="text-light" routerLink="/admin/accounts/user-pending">
            <ly-icon class="d-md-none">person_add</ly-icon>
            <span class="d-none d-md-inline">Pending Accounts</span>
        </a>
      </li>

</nav>

<router-outlet></router-outlet>