.numbers{
    display: inline-block;
                width: 80px;
                height: 80px;
                line-height: 80px;
                background-color: #fff;
                border: 1px solid #e3e9ed;
                border-radius: 100%;
                text-align: center;
                position: relative;
                /* smargin-right: 20px; */
}

.numbers::after{
    content: "";
    display: block;
    width: 1px;
    height: 135px;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: #d4d3d3;
}


.font1{
    margin: 20px 0;
    padding: 0;
    color: #374957;
    /* font-family: Proxima Nova; */
    line-height: 1.4;
}

