<app-navbar></app-navbar>
<app-info></app-info>

<main class="container-fluid p-0" >

    <!-- ////////////////////////////// -->

    <div  class="py-md-5  py-5 container-fluid t h-100 bg-light">
            <div class="row">
                    <div class="col-md font-weight-bold">
                        <h3 class="display-4 font-weight-bold text-center d-none d-md-block m-blue-f" >Get online</h3>
                        <h3 class="lead text-center d-none d-md-block" >Take your business to another level</h3>
                        <p class="lead d-none d-md-block text-center"> Harness the platform which gives you the power of creativity, ingenuity and innovation to own your web presence. </p>
                        <p class="lead d-block d-md-none text-center display-4 font1" style="font-size: 40px"> Get online  <br>be discoverable <br> go global</p>
                        <div class="d-flex justify-content-center">
                            <button mat-raised-button class="br-30" color="primary" routerLink='/start'>
                                <span class="font-weight-bold ">Get Started</span>
                            </button>
                       </div>

                       <br>
                    <div class="text-center">
                        <span class="numbers">1</span>
                        <span class="numbers mx-1">2</span>
                        <span class="numbers">3</span>
                    </div>
                    </div>

                    <div class="col-md-7" style="overflow: hidden;">
                            <img src="/assets/svg/undraw_interaction_design_odgc.svg" loading="lazy" alt="" class="img" width="">
                    </div>
                </div>

                
            
    </div>

</main>


<app-footer></app-footer>