
<mat-toolbar color class="navbar navbar-expand-md sticky-top px-md-2 pl-md-4" [hidden]="isVerifymail">

   
       
    <div  class="text-center font-weight-bold m-blue-f">
        <a routerLink="/home" class="text-primary" >Ihifix</a>
    </div>

    <div class="collapse navbar-collapse justify-content-end mx-1" >
        <ul class="navbar-nav" [hidden]='!isLogPage'>

                 <li class="nav-item mr-1">
                    <button mat-button  routerLink='/control' >
                        <span class="p-2">Register</span>
                    </button>
                </li>

            
        </ul>
    </div>    
    
    <button mat-button color="" routerLink='/login' [hidden]='!isLogPage'>
        <mat-icon>account_circle</mat-icon>
        <span class="p-2 d-none d-md-inline">Account</span>

    </button>

    
    
    <!-- <button  class="py-2 navbar-toggler" [hidden]='!isLogPage'>
        <div class="icon-bar mt-1 bg-dark"></div>
        <div class="icon-bar my-1 bg-dark"></div>
        <div class="icon-bar bg-dark"></div>
    </button>
     -->

    <button color='warn' mat-icon-button (click)="goBack()" [hidden]='isLogPage'>
        <mat-icon>close</mat-icon>
    </button>


    
       
   

</mat-toolbar>









