<div mat-dialog-content  style="height: 400px">
       <!-- <div class="d-flex small">
            <span class="bg-dark text-light p-1">Sender:</span>
            <span class="bg-light p-1">samuelhenshaw2020@yahoo.com</span>
       </div>
       <br>
       <div class="d-flex ">
            <span class="bg-dark text-light p-1 small">Subject:</span>
            <span class="bg-light p-1">I am a boy to the boys</span>
       </div>
       <br>
       <div class="bg-light p-1">
           <span class="bg-dark text-light p-1 small">Message:</span> &nbsp;
           <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quisquam. Beatae id tempore vitae totam, iusto temporibus? Consequatur 
               molestias maxime accusamus. Dignissimos ducimus possimus tempore excepturi animi reiciendis ex accusamus!</span>
       </div> -->

       <p class="lead font-weight-bold">Feedback</p>

       <table class="table table-sm table-borderless">
           <tr>
            
               <td>
                    <span class="bg-dark text-light p-1 px-2 small">Sender:</span><br>
                    <span class="bg-light p-1">samuelhenshaw2020@yahoo.com</span>
                </td>
           </tr>
           <tr>
                
                <td>
                    <span class="bg-dark text-light p-1 px-2 small">Subject:</span><br>
                    <span class="bg-light p-1">my name is miriam</span>
                </td>
            </tr>
            <tr>
                
                <td> 
                        <span class="bg-dark text-light p-1 small">Message:</span>
                        <p class="text-justify bg-light p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quisquam. Beatae id tempore vitae totam, iusto temporibus? Consequatur 
                        molestias maxime accusamus. Dignissimos ducimus possimus tempore excepturi animi reiciendis ex accusamus!
                    </p>
                    </td>
            </tr>
       </table>
</div>
      
      <div mat-dialog-actions align="center">
        <button mat-button cdkFocusInitial (click)="close()">
            ok
        </button>
      </div>