.category:hover{
    /* z-index: 1050; */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.label{
    font-size: 30px
}

.logo-pane{
    width: 100px; height: 100px; border-radius: 50%; overflow: hidden; ;
}

.logo-container{
    width: 140px; height: 140px; position: relative;
}

.btn-click{
    position: absolute; bottom: 0%; ;right: 0px
}

.card-columns.temp{
    grid-column: 2;
}

.scale-bk{
    transform: scale(0.9);
    opacity: 0.9;
}

.scale-ft{
    transform: scale(1.03);
}

