<div class="row h-100">
    <div class="col-md  d-flex bg-light">
            <div class="container  align-self-center text-center ">
                    <h3 class="font-weight-bold  ">Hello!</h3>
                    <h3 class="font-weight-bold   " style="color:  #3F51B5;">{{name}}</h3>  
                    <p class="lead">Please verify your mail</p> 
                    <a class="clickable small text-dark font-weight-bold  text-center py-4" routerLink="/login/signin">Go back to login</a>
            </div>
           
    </div>
    <div class="col-md p-3 d-flex">
            <div class="container align-self-center " >

                    
                
                            <br>
                 
                        
                        
                            <!-- <div class="form-group" [hidden]="initSent">
                                    <button type="submit" color="primary" mat-raised-button class="w-100  p-5 " #sendcode (click)="Send()">
                                        <span >Send verification Code</span>
                                    </button>
                            </div> -->
                
                        
                    
                            
               

                    <form novalidate class=" p-md-5"  [formGroup]="verifyTokenForm" (ngSubmit)="verifyToken()">
                            <!-- <p class="text-center small ">{{message}}</p> -->
                
                            <br>
                 
                            <div class=" form-group  ">
                                      <span class="small ">OTP</span>
                                    <div class="w-100 form-search d-flex shadow border p-3" [ngClass]="otp.dirty && otp.invalid ? 'border-danger': ''" appearance="outline">
                                                <input  type="text" placeholder="******"  class="  w-100 text-center font-weight-bold" style="letter-spacing: 20px;" formControlName="otp">
                                    </div>
                            </div>
                            <br>
                        
                        
                            <div class="form-group">
                                    <button type="submit" color="primary" mat-raised-button class="w-100  p-2 " [disabled]="verifyTokenForm.invalid">
                                        <span class="spinner-grow spinner-grow-md " [hidden]="!submitted "></span>
                                        <span [hidden]="submitted" class="d-none d-md-inline">Validate Code</span>
                                        <i class="fa fa-send fa-lg text-light d-inline d-md-none" [hidden]="submitted"></i>

                                    </button>
                                </div>
                
                
                                <div class="form-group text-center">
                                        <button mat-button class="clickable small  font-weight-bold  text-center py-4" (click)='Send()' [disabled]=ifSent>
                                             <span [hidden]="resent">Resend verification code</span>
                                            <app-loaderdot [hidden]="!resent"></app-loaderdot>
                                        </button> 
                                        <span > {{count}}</span>
                                       
                                    </div>
                        
                    
                            
                    </form>


                   
                </div>
                
    </div>
</div>
