<main class="container-fluid p-3    ">
   
        <div class="row">
             <!----------------------------------------
            Contact us form
        ------------------------------------------->
            <div class="col-md">
                    <div class="table-responsive bg-white p-2">
                            <p class="bg-dark p-2 text-light">Contact Form Response</p>
                            <table class="table">
                                <thead class="bg-light ">
                                    <tr class="small">
                                        <th>Subject</th>
                                        <th><span class="d-none d-md-inline">Email</span></th>
                                        <!-- <th>Date</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            <td>
                                                    <a routerLink="/dash/webform/viewmsg/12" (click)="viewMsg()">My shop payment</a>
                                                    <p style="font-size: 11px">Date: 12/12/1234</p>
                                            </td>
                                            <td><span class="small d-none d-md-inline">samuelhenshaw2020@yahoo.com</span></td>
                                            <!-- <td></td> -->
                                           
                                        </tr>
                                </tbody>
                            </table>
                        </div>  
            </div>
    
             <!----------------------------------------
            Subscribers
        ------------------------------------------->
    
            <div class="col-md-4 mt-md-0 mt-3">
                <div class="bg-white p-2">
                        <p class="bg-dark p-2 text-light">Subscribers</p>
                        <div class="p-2">
                            <div class="d-flex bg-light">
                                <span class="p-2 bg-dark text-light">1</span>
                                <span class="m-auto" >ssamuelheshaw2020@yahoo.com</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </main>