
hjsgvdsvdgvshgvh
<div id="rightAside" class="bg-white shadow ">
        <div style="position: relative">
              <button  class="btn btn-secondary py-2  p-1 lr" > <span class="fa fa-arrow-left fa-sm"></span> </button>
              <div class="py-4" style=" background-size: contain" >
                 <!-- <img src="img/23.jpg" class="img img-fluid"> -->
    
                    <h2 class="text-white text-center ">3pm Saturday</h2>
    
              </div>
              <ul class="nav justify-content-center rt-nav ">
                <li class="nav-item w-50 ">
                    <a class="nav-link active text-dark " data-toggle="tab" href="#a"> Overview</a>
                <li>
                  <li class="nav-item w-50">
                      <a class="nav-link text-dark" data-toggle="tab" href="#b"> Overview</a>
                  <li>
              </ul>
    
              <div class="tab-content p-2">
    
                <div class="tab-pane active" id="a">
                    <h1>the man is here</h1>
                </div>
    
                <div class="tab-pane " id="b">
                    <h1>the man is not here</h1>
                </div>
    
              </div>
    
        </div>
    </div>
    