<div class=" container p-2 " >



       <!-- ///////////////////////////////////////////////// -->

       <p><span class=" ml-3 font-1 font-weight-bold" style="font-size: 9px">PRODUCT LIST</span></p>

    
      
 


        <div class="d-flex justify-content-between" id="table">
        
                <div>          
                    <div >
                            <button mat-raised-button class="br-30 d-md-inline" routerLink="/dash/product/add" >
                                <mat-icon>add</mat-icon> 
                                <span class="d-none d-md-inline">add New</span>
                            </button>
                            &nbsp;
                            <!-- <button mat-mini-fab color class="" (click)="fetchPost('current')">
                                <i class="fa fa-refresh " [hidden]="isLoading "></i>
                                <i class="	fa fa-circle-o-notch fa-spin" [hidden]="!isLoading "></i>
                            </button> -->
                            &nbsp;
                            <span>  
                                    <span class="small badge">total</span>
                                    <span class="numbers" style="width: 30px; height: 30px; line-height: 30px">{{total}}</span>
                                    <span class="small badge">current</span>
                                    <span class="numbers" style="width: 30px; height: 30px; line-height: 30px">{{productList.length}}</span>
                            </span>
                    </div>
                </div>
        
                <div class="">
                    <div style="position: relative;">
                            <div class="form-search  d-flex br-30 mat-elevation-z7"  >
                                    <!-- <i class="fa fa-search  d-none d-md-inline m-auto"></i> -->
                                    <button mat-icon-button (click)="isSearch=!isSearch" >
                                            <i [hidden]="isSearch" class="fa fa-search icon m-auto"></i>
                                            <i [hidden]="!isSearch" class="fa fa-close icon m-auto"></i>
                                    </button>
                                    <input *ngIf="isSearch"  class="" type="text"  [(ngModel)]="q"  (keyup)="filterTable(q, 1)" placeholder="search post">
                                    <button *ngIf="isSearch" class=" br-30" mat-button  (click)="advanceSearch()">Search</button>
                            </div>
                    </div>
                </div>
                <!-- <div class=" d-md-none">
                    <button   mat-mini-fab color><mat-icon>search</mat-icon></button>
                </div> -->
            </div>
            <br>





      

       
        <div class="table-responsive bg-white" > <!--music player single start-->
    
            <table class="table   table-hover table-lg">
                <thead class="m-blue text-light ">
                    <tr >
                        <th class="small "></th>
                        <th class="small "></th>
                        <th class="small "> </th>
                        <th class="small"></th>
                        <th class="small"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody class="p-2">
                  <tr class=" clickable " *ngFor="let prod of productList; let i=index">
                      <td class="m-auto">
                            <div class="prod_img  clickable">
                                    <img  [src]="prod.product_image" alt="...">
                            </div>
                      </td>
                    <td class="m-auto">
                   

                                      <!-- <span class="numbers">{{prod.product_id}}</span> -->
                                                <p class="my-auto"><a  routerLink="/dash/product/edit/{{prod.product_id}}" >{{prod.product_name}}</a></p>
                                 

                                      
                             
                                   
                    
                              <!-- <small class="badge m-blue text-light d-md-none p-2 m-auto br-30 shadow">20% off</small> -->
                   </td>
                   <td class="p-0 p-md-2">
                        
                  
                        <span class="d-none d-md-inline small" >{{prod.sub_category}}</span>

                    </td>
                    <td>
                            <small class="badge text-light p-1 m-auto" [ngClass]="users !>= 10  ? 'badge-danger': (users !>= 20 ? 'badge-warning' : 'badge-success')">
                                    <span>{{prod.amount_in_stock}}</span>
                                    {{prod.stock_status}}
                            </small>
                    </td>
                   <td class="p-0 p-md-2">
                        
                                 <small class="badge d-none d-md-inline m-blue text-light p-1 m-auto ">{{((prod.sales_price * 100) /  prod.price) | number: '2.0-0' }}% off</small>
 
                   </td>
                   <td class="p-0 p-md-2">
                       <div  class=" my-auto d-none d-md-inline" >
                             <small class="badge badge-white text-secondary"><del>{{prod.price | currency}}</del></small>
                             <br>
                             <span class="" >&nbsp;{{prod.sales_price |currency}}</span>
                       </div>
                   </td>
                   <td>
                      
                                     <button mat-icon-button color=primary  >
                                            <i class="	fa fa-bar-chart fa-lg"></i>
                                     </button>

                                     <button mat-icon-button color=warn  >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                               
                            
                   </td>
               </tr>
                </tbody>
              </table>

             <p  class="text-center" > 
                    <button mat-fab color (click)="getMore()" [hidden]="no_data">
                             <mat-icon [hidden]="loading"> add_circle</mat-icon>
                            <i class="spinner-grow spinner-grow-lg" [hidden]="!loading"></i>    
                    </button>
                    
             </p>

              <br>
              <br>
    
       </div>   <!--music play single end-->
    
    
    </div>
    
    
       <!-- the menu that is triggered -->
       <mat-menu #userMenu="matMenu">
            <a mat-menu-item><mat-icon class="text-danger">cancel</mat-icon> De-activate Subscription</a>
            <a mat-menu-item ><mat-icon class="text-danger">cancel</mat-icon> De-activate Account</a>
        </mat-menu>
    