<div class=" container-fluid p-2 bg-white" >



       <!-- ///////////////////////////////////////////////// -->

       <p><span class=" ml-3 font-1 font-weight-bold" style="font-size: 9px">PRODUCT LIST</span></p>

    
      



        <div class="d-flex justify-content-between" id="table">
        
                <div>          
                    <div >
                            <button mat-raised-button class="br-30 d-md-inline" routerLink="/dash/product/add" >
                                <mat-icon>add</mat-icon> 
                                <span class="d-none d-md-inline">add New</span>
                            </button>
                            &nbsp;
                            <button mat-mini-fab color class="" (click)="fetchPost('current')">
                                <i class="fa fa-refresh " [hidden]="isLoading "></i>
                                <i class="	fa fa-circle-o-notch fa-spin" [hidden]="!isLoading "></i>
                            </button>
                            &nbsp;
                            <span>  
                                    <span class="small badge">Page</span>
                                    <!-- <span class="numbers" style="width: 30px; height: 30px; line-height: 30px">{{currentPage}}</span> -->
                            </span>
                    </div>
                </div>
        
                <div class="">
                    <div style="position: relative;">
                            <div class="form-search  d-flex br-30 mat-elevation-z7"  >
                                    <!-- <i class="fa fa-search  d-none d-md-inline m-auto"></i> -->
                                    <button mat-icon-button (click)="isSearch=!isSearch" >
                                            <i [hidden]="isSearch" class="fa fa-search icon m-auto"></i>
                                            <i [hidden]="!isSearch" class="fa fa-close icon m-auto"></i>
                                    </button>
                                    <input *ngIf="isSearch"  class="" type="text"  [(ngModel)]="q"  (keyup)="filterTable(q, 0)" placeholder="search post">
                                    <button *ngIf="isSearch" class=" br-30" mat-button  (click)="advanceSearch()">Search</button>
                            </div>
                    </div>
                </div>
                <!-- <div class=" d-md-none">
                    <button   mat-mini-fab color><mat-icon>search</mat-icon></button>
                </div> -->
            </div>
            <br>





      

       
        <div class="table-responsive container" > <!--music player single start-->
    
            <table class="table  table-borderless table-hover table-lg">
                <thead>
                    <tr >
                        <th class="small text-secondary">Products</th>
                        <th class="small text-secondary">Price</th>
                        <th class="small text-secondary"> Patronage</th>
                        <th class="small text-secondary "></th>
                    </tr>
                </thead>
    
                <tbody >
                  <tr class=" each-user" *ngFor="let users of productList">
                      <td>
                          <div class="media my-auto white-1">
                                <div class="media-body ml-2" >
                                        <a  routerLink="/dash/product/edit/12">Signed Language od Nigeria Deaf Child in Nigeria</a>
                                    <!-- <p style="font-size: 11px">New York</p> -->
                                </div>
                           </div>
                      </td>
                      <td>
                          <span class="bg-white py-1 px-2" style="font-size: 14px; border-radius: 14px">N1500</span><br>    
                          <span class=" py-1 px-2 small" style="font-size: 12px; text-decoration: line-through;">N1800</span>
                      </td>
                      <td>
                          <div class="my-auto" matTooltip="Subscribed on the 30rd March, 2019">
                              <small class=""> 10 PUC</small>
                          </div>
                      </td>
                      <td>
                          <div class="d-flex justify-content-end">
                              <!-- <button mat-icon-button matTooltip="samuelhenshaw2020@gmail.com" ><mat-icon class="text-secondary">mail_outline</mat-icon></button>
                              <button mat-icon-button matTooltip="Edit Account"><mat-icon class="text-secondary">edit</mat-icon></button>
                              <button mat-icon-button><mat-icon class="text-danger">delete</mat-icon></button>
                              <button mat-icon-button color="" [matMenuTriggerFor]="userMenu"><mat-icon class="text-secondary">	more_horiz</mat-icon></button> -->
                          </div>
                      </td>
                  </tr>
                </tbody>
              </table>
    
       </div>   <!--music play single end-->
    
    
    </div>
    
    
       <!-- the menu that is triggered -->
       <mat-menu #userMenu="matMenu">
            <a mat-menu-item><mat-icon class="text-danger">cancel</mat-icon> De-activate Subscription</a>
            <a mat-menu-item ><mat-icon class="text-danger">cancel</mat-icon> De-activate Account</a>
        </mat-menu>
    