
.prod_img{
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    /* border-radius: 50%; */
    object-fit: cover;
    overflow: hidden;
}

.prod_img img{
    vertical-align: middle;
    border-style: none;
    width: 40px;
   
}

.anim{
    -webkit-transition: all 1s !important;
    transition: all 1s !important;
}


@media (max-width: 768px){
    .form-search{
        position: absolute;
        top: 0px;
        right: 0px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        -webkit-transition: all 1s !important;
        transition: all 1s !important;
    }
}