<br>
<div class="   " id="table">

    <p><span class=" ml-3 font-1 font-weight-bold" style="font-size: 9px">POST</span></p>

    <div class="d-flex justify-content-between" id="table">
        
        <div>          
            <div >
                    <button mat-raised-button class="br-30 d-md-inline" routerLink="/dash/post/create" >
                        <mat-icon>add</mat-icon> 
                        <span class="d-none d-md-inline">add New</span>
                    </button>
                    &nbsp;
                    <button mat-mini-fab color class="" (click)="fetchPost('current')">
                        <i class="fa fa-refresh " [hidden]="isLoading "></i>
                        <i class="	fa fa-circle-o-notch fa-spin" [hidden]="!isLoading "></i>
                    </button>
                    &nbsp;
                    <span>  
                            <span class="small badge">Page</span>
                            <span class="numbers" style="width: 30px; height: 30px; line-height: 30px">{{currentPage}}</span>
                    </span>
            </div>
        </div>

        <div class="">
            <div style="position: relative;">
                    <div class="form-search  d-flex br-30 mat-elevation-z7"  >
                            <!-- <i class="fa fa-search  d-none d-md-inline m-auto"></i> -->
                            <button mat-icon-button (click)="isSearch=!isSearch" >
                                    <i [hidden]="isSearch" class="fa fa-search icon m-auto"></i>
                                    <i [hidden]="!isSearch" class="fa fa-close icon m-auto"></i>
                            </button>
                            <input *ngIf="isSearch"  class="" type="text"  [(ngModel)]="q"  (keyup)="filterTable(q, 0)" placeholder="search post">
                            <button *ngIf="isSearch" class=" br-30" mat-button  (click)="advanceSearch()">Search</button>
                    </div>
            </div>
        </div>
        <!-- <div class=" d-md-none">
            <button   mat-mini-fab color><mat-icon>search</mat-icon></button>
        </div> -->
    </div>
    <br>
  

    <div class="table-responsive " > <!--music player single start-->

        <table class="table   table-hover table-md " >
            <thead class="m-blue">
                <tr >
                  
                    <th class="small text-light">
                        <span>Title</span>&nbsp;
                        <a style="cursor: pointer;" mat-icon-button [matMenuTriggerFor]="postMenu" class="d-md-none">
                                <!-- {{sel_category[0]}} -->
                                <span class="numbers m-blue" style="width: 30px; height: 30px; line-height: 30px;"><mat-icon >	filter_list</mat-icon></span>

                               
                        </a>
                    </th>
                    <th class="small text-light p-0 p-md-2">
                        <a style="cursor: pointer;" [matMenuTriggerFor]="postMenu" class="d-none d-md-inline">
                                {{sel_category}}
                                &nbsp;
                                <i class="fa fa-angle-down fg-lg"></i>
                        </a>

                    </th>
                    <th class="small text-light p-0 p-md-2" >
                        <span class="d-none d-md-inline">Date created</span>
                    </th>
                    <th class="small text-light text-center" style="width: 50px;">
                       
                         <i class="	fa fa-bar-chart fa-lg"></i>
                         
                    </th>
                </tr>
            </thead>
            
            
            
            <tbody >
              
              <tr class=" bg-white shadow" *ngFor="let post of postList; let i = index">
                  <td class="m-auto">
                       <div class="media my-auto white-1">
                                  <div class="media-body ml-2" >
                                      
                                      <a class="" [routerLink]="'/dash/post/edit/'+post.post_id">{{post.post_title}}</a><br>
                                      <span style="font-size: 11px">by Admin</span>
                                  </div>
                                  
                             </div>
                             <small class="badge m-blue text-light d-md-none p-2 m-auto br-30 shadow">{{post.category}}</small>
                  </td>
                  <td class="p-0 p-md-2">
                       
                                <small class="badge d-none d-md-inline m-blue text-light p-2 m-auto br-30 shadow">{{post.category}}</small>

                  </td>
                  <td class="p-0 p-md-2">
                      <div  class=" my-auto d-none d-md-inline" >
                            <small class="badge badge-white text-secondary">{{post.created_at | date}}</small>
                            <br>
                            <small class="badge text-secondary" >last update {{post.updated_at | date}}</small>
                      </div>
                  </td>
                  <td>
                      <!-- <p class="text-right text-md-center my-0 "> -->
                                    <button mat-icon-button color=primary   (click)="postAnalysis()">
                                            <span class="numbers " style="width: 30px; height: 30px; line-height: 25px;"><i class="	fa fa-bar-chart fa-lg"></i></span>
                                         </button>
                            <!-- </p> -->
                  </td>
              </tr>
            </tbody>
          </table>

          <!-- <div class="container">
                <div class="row m-blue text-light p-2 small">
                    <div class="col">
                        <span class="d-none d-md-inline">TITLE</span>
                        <p class="d-md-none text-center my-0">POST</p>
                    </div>
                    <div class="col d-none d-md-inline">
                            <a style="cursor: pointer;" [matMenuTriggerFor]="postMenu">
                                    {{sel_category.toUpperCase()}}
                                    &nbsp;
                                    <i class="fa fa-angle-down fg-lg"></i>
                            </a>
                    </div>
                    <div class="col d-none d-md-inline">
                            <span class="d-none d-md-inline">DATE CREATED</span>
                    </div>
                    <div class="col d-none d-md-inline text-md-center text-light">  <i class="	fa fa-bar-chart fa-lg"></i></div>
                </div>

                <div  class=" row bg-white shadow my-3 p-2" *ngFor="let post of postList; let i = index">
                        <div class="m-auto col">
                            <div class="media my-auto white-1">
                                  <div class="media-body ml-2" >
                                      
                                      <a class="" [routerLink]="'/dash/post/edit/'+post.post_id">{{post.post_title}}</a><br>
                                      <span style="font-size: 11px">by Admin</span>
                                  </div>
                             </div>
                        </div>
                        <div class="col-md my-auto">
                             
                                      <small class="badge m-blue text-light p-2 m-auto br-30 shadow">{{post.category}}</small>
      
                        </div>
                        <div  class="col">
                            <div  class=" my-auto" >
                                  <small class="badge badge-white text-secondary">{{post.created_at | date}}</small>
                                  <br>
                                  <small class="badge text-secondary  d-none d-md-inline" >last update {{post.updated_at | date}}</small>
                            </div>
                        </div>
                        <div class="col-md">
                            <p class="text-right text-md-center my-0 ">
                                    <button mat-icon-button color=primary   (click)="postAnalysis()">
                                            <span class="numbers " style="width: 40px; height: 40px; line-height: 35px;"><i class="	fa fa-bar-chart fa-lg"></i></span>
                                         </button>
                            </p>
                        </div>
                    </div>
          </div>
           -->

           <!--------------------------------------
            Pagination
        ------------------------------------------->

            <div  style="position: relative; " >
                    <div class="p-2 d-flex justify-content-end bg-white z-depth-4" style="position: fixed; bottom: 0; right: 1%; left: 0;">
                            <div class="my-auto">
                                    <span>
                                            <span class="small badge">Total: </span>
                                            <span class="numbers badge" style="width: 25px; height: 25px; line-height: 20px">{{totalPost}}</span>
                                    </span>
            
                                    
            
                                    <span>  
                                            <span class="small badge">Page</span>
                                            <span class="numbers badge" style="width: 25px; height: 25px; line-height: 20px">{{currentPage}}</span>
                                    </span>
                           
                            </div>
                            &nbsp;
                            <div >
                                    <!-- <a mat-icon-button href="dash/post/all#table">top</a> -->
                                    <button mat-mini-fab  class="bg-dark text-light mx-1" (click)="fetchPost('first')">{{firstPage}}</button>
                                    <button mat-mini-fab class="bg-dark text-light" (click)="fetchPost('prev')"><i class="fa fa-chevron-left fa-lg"></i></button>
                                    <button mat-mini-fab  class="bg-dark text-light mx-1" (click)="fetchPost('next')"><i class="fa fa-chevron-right fa-lg"></i></button>
                                    <button mat-mini-fab class="bg-dark text-light" (click)="fetchPost('last')">{{lastPage}}</button>
                            </div>
                        </div>
            </div>


          <!--------------------------------------
            Loader
        ------------------------------------------->

          <div class="container" *ngIf="!postList">
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
          </div>

          <br><br><br><br><br>

        

   </div>   <!--music play single end-->


</div>


   <!-- the menu that is triggered -->
   <mat-menu #postMenu="matMenu">
        <button mat-menu-item (click)="filterTable('', 1)" > 
            <span class="badge badge-dark p-1 px-2 small">A</span>
            &nbsp;
            <span class="small">ALL CATEGORY</span>
        </button>
        <button mat-menu-item *ngFor="let cat of postCat" (click)="filterTable(cat, 1)">
            <span class="badge badge-dark p-1 px-2 small">{{cat[0].toUpperCase()}}</span>
            &nbsp;
            <span class="small">{{cat}}</span>
        </button>
    </mat-menu>
