<br>
<div class="   " id="table">

    <p><span class=" ml-3 lead font-28 font-weight-bold" >POST</span></p>



    <!-- /////////////////////////////////// -->
    <div class="d-flex justify-content-between " >
        
                     
                    
                 
        <div class="d-flex">
         <div>
             <input type="text"  [(ngModel)]="q"  (keyup)="filterTable(q, 0)" placeholder="search post" class=" form-control">
             <!-- <button  class=" br-30" mat-button  (click)="advanceSearch()">Search</button> -->
        </div>
         &nbsp;
       <div>
         <select #s class=" p-2 w-100 form-control  " (change)="filterTable(s.value, 2)" >
             <option value="" >All categories</option>
             <option *ngFor="let cat of postCat" (click)="filterTable(cat, 1)" [value]="cat">{{cat}}</option>
            
             </select>
       </div>
       <span>  
           &nbsp;
        <span class="small font-weight-bold text-secondary d-none d-md-inline">PAGE</span>
        <span class="numbers" style="width: 30px; height: 30px; line-height: 30px">{{currentPage}}</span>
</span>
        </div>
        
         
     &nbsp;
    <div>
     <button class="btn btn-primary  "  routerLink="/dash/post/create"  >
         <i class="fa fa-plus"></i>
         <span class="d-none d-md-inline"> New</span>
     </button>
    </div>
 </div>

    <!-- //////////////////////////////////////// -->
    <br>
  

    <div class="table-responsive  m-shadow" > <!--music player single start-->

        <table class=" table table-striped table-borderless" >
            <thead class="">
                <tr >
                  
                    <th class="small ">
                        <span class="small font-weight-bold ">TITLE</span>&nbsp;
                        <a style="cursor: pointer;" mat-icon-button [matMenuTriggerFor]="postMenu" class="d-md-none">
                                <!-- {{sel_category[0]}} -->
                                <span class="numbers m-blue" style="width: 30px; height: 30px; line-height: 30px;"><mat-icon >	filter_list</mat-icon></span>

                               
                        </a>
                    </th>
                    <th class="small  p-0 p-md-2">
                       
                        <span class="small font-weight-bold "> CATEGORY</span>

                    </th>
                    <th class="small  p-0 p-md-2" >
                        <span class="d-none d-md-inline small font-weight-bold ">DATES</span>
                    </th>
                    <th class="small  text-center" style="width: 50px;">
                       
                         
                         
                    </th>
                </tr>
            </thead>
            
            
            
            <tbody >
              
              <tr class=" bg-white " *ngFor="let post of postList; let i = index">
                  <td class="m-auto">
                       <div class="media my-auto white-1">
                                  <div class="media-body ml-2" >
                                      
                                      <a class="" [routerLink]="'/dash/post/edit/'+post.post_id">{{post.post_title }}</a><br>
                                      <span style="font-size: 11px">by Admin</span>
                                  </div>
                                  
                             </div>
                             <small class="badge m-blue text-light d-md-none p-2 m-auto br-30 shadow">{{post.category}}</small>
                  </td>
                  <td class="p-0 p-md-2">
                       
                                <small class=" d-none d-md-inline   p-2 m-auto br-30 m-shadow">{{post.category}}</small>

                  </td>
                  <td class="p-0 p-md-2">
                      <div  class=" my-auto d-none d-md-inline" >
                            <span class=" small" >last update {{post.created_at | date}}</span>
                      </div>
                  </td>
                  <td>
                      <!-- <p class="text-right text-md-center my-0 "> -->
                                    <button mat-icon-button color="warn"   >
                                           <mat-icon>delete</mat-icon>
                                         </button>
                            <!-- </p> -->
                  </td>
              </tr>
            </tbody>
          </table>

          
           <!--------------------------------------
            Pagination
        ------------------------------------------->

            <div  style="position: relative; " >
                    <div class="p-2 d-flex justify-content-end bg-white z-depth-4" style="position: fixed; bottom: 0; right: 1%; left: 0;">
                            <div class="my-auto">
                                    <span>
                                            <span class="small badge">Total: </span>
                                            <span class="numbers badge" style="width: 25px; height: 25px; line-height: 20px">{{totalPost}}</span>
                                    </span>
            
                                    
            
                                    <span>  
                                            <span class="small badge">Page</span>
                                            <span class="numbers badge" style="width: 25px; height: 25px; line-height: 20px">{{currentPage}}</span>
                                    </span>
                           
                            </div>
                            &nbsp;
                            <div >
                                    <!-- <a mat-icon-button href="dash/post/all#table">top</a> -->
                                    <button mat-mini-fab  class="bg-dark text-light mx-1" (click)="fetchPost('first')">{{firstPage}}</button>
                                    <button mat-mini-fab class="bg-dark text-light" (click)="fetchPost('prev')"><i class="fa fa-chevron-left fa-lg"></i></button>
                                    <button mat-mini-fab  class="bg-dark text-light mx-1" (click)="fetchPost('next')"><i class="fa fa-chevron-right fa-lg"></i></button>
                                    <button mat-mini-fab class="bg-dark text-light" (click)="fetchPost('last')">{{lastPage}}</button>
                            </div>
                        </div>
            </div>


          <!--------------------------------------
            Loader
        ------------------------------------------->

          <div class="container" *ngIf="!postList">
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
                <app-table-loader></app-table-loader>
          </div>

          <br><br><br><br><br>

        

   </div>   <!--music play single end-->


</div>


   <!-- the menu that is triggered -->
   <mat-menu #postMenu="matMenu">
        <button mat-menu-item (click)="filterTable('', 1)" > 
            <span class="badge badge-dark p-1 px-2 small">A</span>
            &nbsp;
            <span class="small">ALL CATEGORY</span>
        </button>
        <button mat-menu-item *ngFor="let cat of postCat" (click)="filterTable(cat, 1)">
            <span class="badge badge-dark p-1 px-2 small">{{cat[0].toUpperCase()}}</span>
            &nbsp;
            <span class="small">{{cat}}</span>
        </button>
    </mat-menu>
