<main class="container p-md-3">
        <div class="p-2 m-blue d-flex">
                <button mat-icon-button routerLink="/dash/product/all">
                        <mat-icon class="text-light">arrow_back</mat-icon>
                </button>
                <p class="text-light m-auto">Edit product</p>
        </div>

        <br>
        <!-------------------Product name-->
        <div class=" row  ">

                <!-- column one -->
                <div class="col-md">

                        <label for="">Product Name</label>
                        <div class="d-flex form-search border">
                                <input type="text" class=" p-2 w-100  " placeholder="Product Name">
                        </div>
                        <br>

                        <label for="">Product Price</label>
                        <div class="d-flex  form-search border pl-1">
                                <span class="font-weight-bold  m-auto" style="text-decoration: line-through;">N</span>
                                <input #p type="number" class=" w-100 p-2" placeholder="Price">

                        </div>

                        <br>
                        <label for="">Sales Price</label>
                        <div class="d-flex form-search border pl-3">
                                <span class="font-weight-bold  m-auto" style="text-decoration: line-through;">N</span>
                                <input type="number" class=" w-100 p-2" placeholder="Sales Price">

                        </div>

                        <br>
                        <label for="">Discount</label>
                        <div class="form-search border">
                                <input [value]="discount" disabled class=" p-2 w-100  " placeholder="Discount">
                        </div>
                        <br>

                        <label for="">Stock</label>
                        <div class="d-flex form-search px-2 p-0 border">

                                <select class="w-100 ml-1 py-2">
                                        <option value="In Stock" selected>In Stock
                                        </option>
                                        <option value="Out of Stock">Out of Stock
                                        </option>
                                </select>

                        </div>
                        <br>

                        <label for="">Qualtity</label>
                        <div class="d-flex form-search px-2 p-0 border">

                                <input type="number" class="w-100 ml-1 py-2">

                        </div>

                        <br>
                        <label for="">Category</label>
                        <div class="form-search px-2 p-0 border">

                                <select class="w-100 ml-1 py-2">
                                        <option value="In Stock" selected>Food
                                        </option>
                                        <option value="Out of Stock">Phone
                                        </option>
                                </select>
                        </div>

                        <br>

                        <label for="">Sub-Category</label>
                        <div class="form-search border">
                                <input type="text" class=" w-100 p-2" placeholder="">

                        </div>

                        <br>
                        <label for="">Product Description</label>
                        <div>
                                        <angular-editor formControlName="product_description"
                                        [placeholder]="'Enter text here...'"
                                        [config]="editorConfig"></angular-editor>
                        </div>
                </div>


                <!-- column two -->
                <div class="col-md">



                </div>
        </div>
</main>
<br><br><br>