
 




<div >
        <div class="">
                <br>
                <div class="light text-center p-2">
                        <a routerLink="/dash/product/all" class="float-left" mat-icon-button>
                                <mat-icon>arrow_back</mat-icon>
                        </a>
                        <span class="lead">Product Update</span>
                </div>
                <main class="container">


                       
                        

                
                        
                
                       
                
                        <div  >
                
                
                                <!-- ///////////////////////////////////////////////////////////////// -->
                                <br>
                
                                <div class=" row ">
                
                                                <!-- column one -->
                                                <div class="col-md p-md-3 border">
                                
                                                        
                                                        <div class="form-group">
                                                                <span class="text-primary">Product Name</span>
                                                                <input type="text" class=" p-2 w-100 form-control light border-0"  [(ngModel)]="prod.product_name">
                                                        </div>
                                                        
                                
                                                      
                                                        <div class="form-group">
                                                                <span class="text-primary">Product Price</span>
                                                                <input #p type="number" class=" p-2 w-100 form-control light border-0"  [(ngModel)]="prod.price" (keyup)="getDiscount()">
                                
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                                <span class="text-primary">Sales price</span>
                                                                <input type="number"  class=" p-2 w-100 form-control light border-0"  [(ngModel)]="prod.sales_price" (keyup)="getDiscount()">
                                
                                                        </div>
                                
                                                       
                                                        <div class="form-group">
                                                                <span class="text-primary">Discount</span>
                                                                <input [value]="discount" disabled class=" p-2 w-100 form-control light border-0">
                                                        </div>
                                
                                                        <div class="form-group">
                                                                <span class="text-primary">Stock</span>
                                                                <select class=" p-2 w-100 form-control light border-0"  [(ngModel)]="prod.stock_status">
                                                                        <option value="In Stock" selected>In Stock
                                                                        </option>
                                                                        <option value="Out of Stock">Out of Stock
                                                                        </option>
                                                                </select>
                                
                                                        </div>
                                
                                                        <div class="form-group">
                                                                <span class="text-primary">Quantity</span>
                                                                <input type="number" class=" p-2 w-100 form-control light border-0" [(ngModel)]="prod.amount_in_stock">
                                                        </div>

                                                        <div class="form-group">
                                                                <span class="text-primary">weight</span>
                                                                <input type="text" class=" p-2 w-100 form-control light border-0" [(ngModel)]="prod.weight">
                                                        </div>
                                                        

                                                        <div class="form-group">
                                                                <span class="text-primary">Category</span>
                                                                <select class=" p-2 w-100 form-control light border-0" [(ngModel)]="prod.category_name">
                                                                        <option *ngFor="let cat of categories" [value]="cat.category_name" selected>{{cat.category_name}}</option>
                                                                        
                                                                </select>
                                                        </div>
                                
                                
                                                        <div class="form-group">
                                                                <span class="text-primary">Sub-Category</span>
                                                                <input type="text"  class=" p-2 w-100 form-control light border-0"  [(ngModel)]="prod.sub_category">
                                
                                                        </div>
                                
                                                        
                                                </div>
                                
                                
                                                <!-- column two -->
                                                <div class="col-md p-md-3">
                
                                                                
                                                                
                                                                <div class="form-group">
                                                                        <span class="text-primary">Product Description</span>
                                                                                <angular-editor [(ngModel)]="prod.product_description"
                                                                                [placeholder]="'Enter text here...'"
                                                                                
                                                                                [config]="editorConfig"></angular-editor>
                                                                </div>
                                                                
                
                                            
                
                
                                                                                                                                       <!------------------------------------------
                                                                save button
                                                        -------------------------------------------->
                                                
                                
                                
                                
                                                </div>
                                        </div>


                                        <div class="form-group  py-3">
                                                <button class="btn btn-primary br-30 shadow" type="submit" (click)="updateProd()">
                                                        <i class="fa fa-cart-plus"></i> 
                                                        update product 
                                                        <span [hidden]="!updating">
                                                                <i class="	fa fa-circle-o-notch fa-spin text-light"></i>
                                                            </span>
                                                       
                                                </button>
                                        </div>
        
                                        
                
                
                            
                
                
                
                                </div>
                </main>
        </div>
</div>



<!-- <ly-grid container justify="end" ly-dialog-actions>
        <button ly-button color="primary" (click)="dialogRef.close()">CLOSE</button>
        <button ly-button color="primary" >UPLOAD</button>
</ly-grid> -->