<br>
<main class="container">
    <div class="container p-md-4">

        <div class="d-flex justify-content-between">
            <div>
                <span>  
                    <span class="small text-fade d-none d-md-inline">total </span>
                    <span class="numbers bg-black text-fade border-0" style="width: 30px; height: 30px; line-height: 30px">{{total}}</span>&nbsp;
                    <span class="small text-fade d-none d-md-inline">current </span>
                    <span class="numbers bg-black text-fade border-0" style="width: 30px; height: 30px; line-height: 30px">{{sites.length}}</span>
            </span>
            </div>
    
            <div class="d-flex">
                <div class="   ">
                    <!-- <i class="fa fa-search  m-auto"></i> -->
                    
                    <select  class=" form-control bg-black-light-2 text-fade border-0">
                            <option *ngFor="let option of ['All', 'Suspended', 'Pending']"
                                    [value]="option">
                                    <span class="small ">{{option}}</span>
                            </option>
                    </select>
            </div>
                <input type="search" [(ngModel)]="qr" class="form-control bg-black-light-2 text-light  border-0" placeholder="Search..." (keyup)="search_sites(qr.value)">
               
            </div>
        </div>


        <br>

        <div class="table-responsive ">
            <table class="table table-borderless table-striped mat-elevation-z7">
                <tbody class="bg-black-light-2">
                    <tr class="    p-2" *ngFor="let site of sites; let i = index">
                        <td class="m-auto ">
                            <p><a class="lead text_dark clickable text-light" (click)="viewSite(site.site_id)" ><strong>{{site.business_name}}</strong></a></p>
                        </td>
                        <td class=" m-auto">
                            <span class="badge  badge-dark bg-black-light text-fade p-2 m-auto   ">{{site.category}}</span>&nbsp;
                            <span class=" badge badge-dark bg-black-light text-fade p-2 m-auto  ">
                                online
                                <i class="fa fa-circle fa-lg" [ngClass]="site.active === 0 ? 'text-danger': 'running'"></i>
                                
                            </span>
                        </td>
            
                        <td class=" m-auto">
                            <a class="text-secondary">
                                <span class="badge badge-dark bg-black-light text-fade p-3">{{site.user_name ? site.user_name[0] : ''}}</span>
                                {{site.user_name}}
                            </a>
                        </td>
            
                        <td class=" m-auto">
                            <span class="text-fade" #cre>{{site.updated_date |date:"MMM d, y"}}</span>
                        </td>
            
                        <td class=" m-auto">
                            <a class="">
                                <span class="text-fade" #sub>{{site.subscription | subDate |date:"MMM d, y"}}</span>
                            </a>
                        </td>
            
                        <td>
                            <button class="text-light" ly-button appearance="icon" raised [ngClass]="site.online === 1 ? 'bg-warning': 'bg-success'" (click)="suspend(site.site_id, site.online);">
                                <ly-icon>{{site.online === 1 ? 'block' : 'swap_horiz' }}</ly-icon>
                            </button>
                        </td>
            
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div>
        <p class="text-center">
            <button [hidden]="total === sites.length" class="btn m-blue  text-fade px-md-5 py-2 " (click)="getMore()">More</button>
        </p>
    </div>
    <br>


</main>