<br>
<main class="container">
    <div class="container p-md-4">

        <div class="d-flex justify-content-between">
            <div>
                <span>  
                    <span class="small text-fade d-none d-md-inline">total </span>
                    <span class="numbers" [ngClass]="night ? 'bg-black-light text-fade border-0': 'bg-back border text-dark'"  style="width: 30px; height: 30px; line-height: 30px">{{total}}</span>&nbsp;
                    <span class="small text-fade d-none d-md-inline">current </span>
                    <span class="numbers  " [ngClass]="night ? 'bg-black-light text-fade border-0': 'bg-back border text-dark'" style="width: 30px; height: 30px; line-height: 30px">{{sites.length}}</span>
            </span>
            </div>
    
            <div class="d-flex">
                <div class="   ">
                    <!-- <i class="fa fa-search  m-auto"></i> -->
                    
                    <select  class=" form-control  " [ngClass]="night ? 'bg-black-light-2 text-light border-secondary border-0': ' border text-dark'">
                            <option *ngFor="let option of ['All', 'Online', 'Suspended']"
                                    [value]="option">
                                    <span class="small ">{{option}}</span>
                            </option>
                    </select>
            </div>
                <input type="search"  class="form-control"  [ngClass]="night ? 'bg-black-light-2 text-light border-0': ' border text-dark'" placeholder="Search..." (keyup)="search_sites($event)">
               
            </div>
        </div>


        <br>

        <div class="table-responsive ">

            <div class="row m-1" *ngIf="isQuery">
                <div class="col p-2">
                        <div class="theme1 " style="height: 35px; "></div>
                </div>
                <div class="col p-2">
                        <div class=" theme2" style="height: 35px;"></div>
                </div>
                <div class="col p-2 d-none d-md-inline">
                        <div class=" theme3 " style="height: 35px; "></div>
                </div>
                <div class="col p-2 d-none d-md-inline">
                        <div class=" theme1 " style="height: 35px; "></div>
                </div>
            </div>

            <table class="table shadow" *ngIf="!isQuery">

               

                <tbody class="" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'">
                    <tr class="    p-2" *ngFor="let site of sites; let i = index">
                        <td class="m-auto ">
                            <p class="lead">
                            <strong class="badge text-light" [style.backgroundColor]="site.color" >{{site.business_name[0]}}</strong>
                            &nbsp;
                           <a class="lead  clickable " [ngClass]="night ? 'text-light ': 'text-dark'" (click)="viewSite(site.site_id)" ><strong>{{site.business_name}}</strong></a></p>
                        </td>
                        <td class=" m-auto">
                            <span class="badge    text-fade p-2 m-auto   "  [ngClass]="night ? 'bg-black-light ': 'badge-light'">{{site.category}}</span>&nbsp;
                            <span class=" badge   text-fade p-2 m-auto  " [ngClass]="night ? 'bg-black-light ': 'badge-light'">
                                online
                                <i class="fa fa-circle fa-lg" [ngClass]="site.online === 0 ? 'text-danger': 'running'"></i>
                                
                            </span>
                        </td>
            
                        <td class=" m-auto">
                            <a class="text-secondary">
                                <span class="badge badge-dark bg-black-light text-fade p-3">{{site.user_name ? site.user_name[0] : ''}}</span>
                                {{site.user_name}}
                            </a>
                        </td>
            
                        <td class=" m-auto">
                            <span class="text-fade" #cre>{{site.updated_date |date:"MMM d, y"}}</span>
                        </td>
            
                        <td class=" m-auto">
                            <a class="" >
                                <span [ngClass]="night ? 'text-light ': 'text-dark'" #sub>{{site.subscription | subDate }} Days Remaining</span>
                            </a>
                        </td>
            
                        <td>
                            <button ly-button appearance="icon"  (click)="sendMail(site.user); prev = i" color="primary">
                                <ly-icon [hidden]="i==prev ? true : false" [ngClass]="night ? 'text-light ': ''">email</ly-icon>
                                <span class="spinner-grow spinner-grow-lg text-light" [hidden]="i==prev ? false : true"></span>
                                
                            </button>

                            
                            <button  ly-button appearance="icon"  (click)="suspend(site.site_id, site.online, i);">
                                <ly-icon [hidden]="i!=prev ? false : true" [ngClass]="site.online === 1 ? 'text-warning': 'text-success'">{{site.online === 1 ? 'block' : 'swap_horiz' }}</ly-icon>
                                <span class="spinner-grow spinner-grow-lg text-light" [hidden]="i==prev ? false : true"></span>
                                
                            </button>


                            
                        </td>
            
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div>
        <p class="text-center">
            <button [hidden]="total === sites.length" class="btn m-blue  text-fade px-md-5 py-2 " (click)="getMore()">
                <span>More</span>
                <span class="spinner-grow  text-light" [hidden]="!isFetching"></span>
            </button>
        </p>
    </div>
    <br>


</main>