<main>



        <div class=" p-1 ">
                        <span class=" ml-3 font-1 font-weight-bold" style="font-size: 9px">MY WEBSITE</span>
                <div class="  p-2 d-flex justify-content-start">
                        <div class="card border-non div-shadow" style="width: 200px">
                                <img src="/assets/pic1.PNG" alt="" class="card-img-top"  >
                                <div class="card-body">
                                        <p class="card-text small text-center font-1 font-weight-bold">Code School</p>
                                        <small class="small">Published</small>
                                </div>
                        </div>
                        &nbsp;
                        &nbsp;
                        
                       <div class="card div-shadow " >
                                <button mat-button class="my-auto w-100 h-100 p-5">
                                                <mat-icon>add</mat-icon>
                                        </button>
                       </div>
                </div>
        </div>

        <br>

        <div class=" bg-white">
                <p class="bg-dark p-2 text-light">Customers</p>
                <div class="p-5">

                </div>
        </div>
         <br>

         <div class=" bg-white">
                        <p class="bg-dark p-2 text-light">Products</p>
                        <div class="p-5">
        
                        </div>
                </div>
<br>
                <div class=" bg-white">
                                <p class="bg-dark p-2 text-light">Blog Review</p>
                                <div class="p-5">
                
                                </div>
                        </div>


</main>