<app-navbar [isLogPage]="isLogPage"></app-navbar>
<br>

<div class="container p-md-3" id="form">

        <form novalidate class="d-block" [formGroup]="formData" (submit)="submitData()">


                <!-- What is the name of your business? -->
                <div class="form-group align-self-center w-100 con" id="comp1" @fade>
                        <br><br><br><br>
                        <div>
                                <label for="" class="lead font-weight-bold label">What is the name of your
                                        business?</label>
                                <div class="d-flex form-search border shadow px-3" >
                                        <input type="text" class=" w-100 p-3"
                                                placeholder="Business/Website name" formControlName="bizname">
                                </div>
                        </div>
                </div>
                <br>

                <!-- What is the name of your business? -->
                <div class="form-group align-self-center w-100 con" id="comp2" @fade>
                        <br><br><br><br>
                        <div>
                                <label for="" class="lead font-weight-bold label">Describe your business?</label>
                                <div class="  px-3">

                                        <mat-form-field class="w-100" appearance="outline">
                                                <textarea matInput placeholder="Describr your Business"  formControlName="bizdesc"></textarea>
                                        </mat-form-field>
                                       
                                </div>
                        </div>
                </div>
                <br>



                <!-- which kind of website do you want -->
                <div class="form-group  w-100 con" id="comp3" @fade>
                        <div>
                                <label for="" class="lead font-weight-bold label">What type of website do you
                                        want?</label>
                                <br>
                                <input type="text" class="input-cos w-100 p-4" #webty formControlName="webtype" hidden>
                                <span class="lead font-weight-bold small" #sel></span>
                                <br>
                                <br>
                                <div class="card-columns">
                                        {{template_property}}

                                        <mat-card *ngFor="let type of businessCat; let num = index"
                                                class="my-2 card clickable category anim-1 border border-secondary"
                                                id="{{'a'+num}}"
                                                [ngClass]=" num==prev ? 'bg-dark text-light font-weight-bold scale-ft': ''"
                                                (click)="bindTemplate(type.type);colorate(num); shortName(type.short_name);
                                                        webtype.value = type.name; sel.innerHTML = type.name; template_property = type.type">

                                                <div class="card-body text-center">
                                                        <i [class]='type.icon'></i>
                                                        <p class="text-center">{{type.name}}</p>
                                                </div>
                                        </mat-card>

                                </div>
                        </div>

                </div>
                <br><br><br>



                <!-- Select a logo -->
                <div class="form-group  w-100 con" id="comp4">
                        <div>
                                <label for="" class="lead font-weight-bold label">Please upload your business
                                        logo?</label>
                                <br><br>
                                <input type="file" class="input-cos w-100 p-4 " #logo
                                        (change)="showImageProperty($event)" accept="image/*" hidden
                                        formControlName="logoname">
                                <div class=" bg-dark  d-flex mx-auto mat-elevation-z7 logo-container">
                                        <p class="m-auto text-secondary  font-weight-bold lead align-self-center"
                                                [hidden]="logo.files[0] !== undefined ">
                                                <span [hidden]="logospin">ADD LOGO</span>
                                                <i [hidden]="!logospin">
                                                        <app-loaderdot></app-loaderdot>
                                                </i>
                                        </p>
                                        <div class=" align-self-center" [hidden]="logo.files[0] === undefined ">
                                                <img src="" alt="" #img
                                                        style="width: 100%; height: 150px; clip-path: circle(50%);">
                                        </div>
                                        <button mat-mini-fab color class="btn-click" (click)="logo.click()"
                                                type="button">
                                                <mat-icon>{{logo.files[0] === undefined ? 'add': 'edit'}}</mat-icon>
                                        </button>
                                </div>
                        </div>
                </div>



                <!-- Incude other conact information-->
                <div class="form-group  w-100 con" id="comp5">
                        <div>
                                <label for="" class="lead font-weight-bold label">Add other contact details?</label>
                                <br>
                                <table class="table-borderless table" formGroupName="contactinfo">
                                        <tr>    
                                                <span class="small text-secondary">Email</span>
                                                <div class="d-flex form-search border shadow px-3" [ngClass]="bizmail.dirty && bizmail.invalid ? 'border-danger' : ''">
                                
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Business email" formControlName="bizmail">
                                               
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>    
                                                <span class="small text-secondary">Phone</span>
                                                <div class="d-flex form-search border shadow px-3" [ngClass]="biztel.dirty && biztel.invalid ? 'border-danger' : ''">
                                                        <input type="tel" class=" w-100 p-3"
                                                                placeholder="Telephone" formControlName="biztel">
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>    <span class="small text-secondary">Address</span>
                                                <div class="d-flex form-search border  shadow px-3" [ngClass]="bizaddress.dirty && bizaddress.invalid ? 'border-danger' : ''">
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Physical Address"
                                                                formControlName="bizaddress">
                                                </div>
                                                <br>
                                        </tr>

                                </table>


                        </div>
                </div>



                <!-- social media links-->
                <div class="form-group  w-100 con" id="comp6">
                        <div>
                                <label for="" class="lead font-weight-bold label">Social Media handles of your
                                        business??</label>
                                <br>
                                <table class="table-borderless table" formGroupName="socialmedia">
                                        <tr>    
                                                <!-- <span class="small text-secondary">Phone</span> -->
                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-linkedin m-auto"
                                                                [style.color]="smlinkedin.valid ? ' #0e76a8': ''"></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Linkedin" formControlName="smlinkedin">
                                                        <mat-icon class="small font-weight-bold m-auto"
                                                                *ngIf="smlinkedin.dirty && smlinkedin.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>
                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-pinterest m-auto fa-lg"
                                                                [style.color]="smpint.valid ? '#c8232c': ''"></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Pinterest" formControlName="smpint">
                                                        <mat-icon class="small font-weight-bold m-auto"
                                                                *ngIf="smpint.dirty && smpint.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>
                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-youtube-play m-auto"
                                                                [style.color]="smyoutube.valid ?'#c4302b': ''"></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Youtube" formControlName="smyoutube">
                                                        <mat-icon class="small font-weight-bold m-auto"
                                                                *ngIf="smyoutube.dirty && smyoutube.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>
                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-instagram fa-lg m-auto"
                                                                [style.color]="sminstagram.valid ?'#3f729b': ''"></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Instagram" formControlName="sminstagram">
                                                        <mat-icon class="small font-weight-bold m-auto"
                                                                *ngIf="sminstagram.dirty && sminstagram.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>
                                        </tr>
                                        <tr>
                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-twitter fa-lg m-auto font-weight-bold"
                                                                [style.color]="smtwitter.valid ?'#00acee ': ''"></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Twitter" formControlName="smtwitter">
                                                        <mat-icon class="small font-weight-bold m-auto"
                                                                *ngIf="smtwitter.dirty && smtwitter.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>
                                        </tr>

                                        <tr>


                                                <div class="d-flex form-search border px-3">
                                                        <i class=" fa fa-facebook-f fa-lg m-auto font-weight-bold"
                                                                [style.color]='smfacebook.valid ? "#3b5998" : ""'></i>
                                                        <input type="text" class=" w-100 p-3"
                                                                placeholder="Facebook" formControlName="smfacebook">
                                                        <mat-icon class=" small font-weight-bold m-auto"
                                                                *ngIf="smfacebook.dirty && smfacebook.valid">check
                                                        </mat-icon>
                                                </div>
                                                <br>



                                        </tr>

                                </table>


                        </div>
                </div>



                <!-- Select your desired template -->
                <div class="form-group  w-100 con" id="comp7">
                        <div>
                                <p class="text-center"><label for="" class="lead font-weight-bold label">Please select a
                                                template?</label></p>
                                <p class="text-center">The Theme are suited to promote to standard </p>
                                <input type="text" class="input-cos w-100 p-4" #template formControlName="theme" hidden>
                                 <p class="lead font-weight-bold small" #tempSel></p>
                                <div class="card-columns temp">

                                        <mat-card *ngFor="let tem of filterTemplate; let num = index"
                                                class="my-2 card clickable category border border-secondary p-0"
                                                id="{{'a'+num2}}"
                                                [ngClass]=" num==prev2 ? 'scale-ft mat-elevation-z7': 'scale-bk'"
                                                (click)="colorate(num); theme.value = tem.template_id ; template.value = tem.template_id; tempSel.innerHTML = tem.template_name;">
                                                <img src="{{tem.image}}" class="card-img-top">
                                                <div class="p-2">
                                                        <p class="text-center lead font-weight-bold">{{tem.template_name}}</p>
                                                </div>
                                        </mat-card>

                                </div>
                        </div>

                </div>
                <br><br><br>



                <div class="con" id="comp8">
                        <div>
                                <p class="text-center display-4 font-weight-bold">
                                        <span [hidden]="submitted">Bravo!</span>
                                        <span [hidden]="!submitted">
                                                <app-loaderdot></app-loaderdot>
                                        </span>
                                </p>
                                <p class="text-center ">You are one step to an owesome experience. Begin!</p>
                                <p>Please, chose a unique site unique word, </p>

                                 <div class="form-search border p-2" [ngClass]="store_name.valid ? 'border-success': 'border-danger'" > 
                                        <input type="text" class=" w-100 " formControlName="store_name" >
                                 </div>
                        </div>


                </div>


                <div class=" pb-md-5 pb-4 pt-1 w-100 d-flex justify-content-around "
                        style="position: fixed; bottom: 0px; right: 2px; box-shadow: 0px 0px 30px rgba(255, 253, 253, 0.9); background: white">

                        <button mat-button color=primary class="  mr-3 " (click)="backComp()" [hidden]='count==START_COUNT '
                                type="button">
                                <i class="fa fa-long-arrow-left font-weight-bold fa-lg "></i>&nbsp;
                                <span class="d-none d-md-inline">Back</span>
                        </button>
                        <div>
                                <!-- <button mat-flat-button class="br-30  mr-3 " (click)=skipComp()
                                        [hidden]="count==END_COUNT || count == START_COUNT|| count==(START_COUNT+1) ||count==(START_COUNT+2)"
                                        type="button" id="skipbtn">
                                        <span class="d-none d-md-inline">Skip</span>&nbsp;
                                        <i class="fa fa-rotate-right fa-lg font-weight-bold"></i>
                                </button> -->
                                <button mat-stroked-button class="" color="primary" (click)='nextComp()' type="button"
                                        [hidden]=' count==END_COUNT' [disabled]="bizname.invalid " id="nextbtn">
                                        <span class="d-none d-md-inline">Next </span>&nbsp;
                                        <i class="fa fa-long-arrow-right font-weight-bold fa-lg "></i>
                                </button>

                                <button mat-stroked-button color="primary" [hidden]="count!=END_COUNT" type="submit"
                                        [disabled]="submitted || store_name.invalid" matTooltip="Submit data">
                                        <span class="spinner-grow spinner-grow-lg" [hidden]="!submitted"></span>
                                        <i  class="fa fa-send fa-lg font-weight-bold d-md-none"></i>
                                        <span class="d-none d-md-inline">Submit</span>
                                        &nbsp;
                                        <span [hidden]="!submitted">
                                                <app-loaderdot></app-loaderdot>
                                        </span>
                                </button>


                        </div>
                </div>



        </form>

</div>

<br><br><br><br><br><br><br><br><br><br>