<div class="row">
    <div class=" col-md bg-light d-flex p-2">
            <div class="container  align-self-center text-center ">
                    <h3 class="font-weight-bold  ">Hello!</h3>
                    <!-- <h3 class="font-weight-bold   " style="color:  #3F51B5;"></h3>   -->
                    <p class="lead text-center" style="font-size: 20px;">Already have an account. <a routerLink="/login/signin"
                        class="font-weight-bold">Sign In?</a></p>
                    <p class="text-center"> <a (click)="scroToSm(); " class="clickable small text-dark font-weight-bold ">Social media Sign
                            up</a></p>
            </div>
    </div>

    <!--The form -->
    <div class="col-md">
            <main class="container-fluid p-2 ">
                    <br><br>
                      
                  
                    
                    <div class="container d-flex justify-content-center ">
                        <form novalidate class="form" [formGroup]="formData" (submit)='submitForm()'>
                            <div class="form-group">
                    
                              <mat-form-field class="w-100">
                                    <input matInput placeholder="Full Name" formControlName="name">
                                    <mat-icon matSuffix class="text-danger" *ngIf="name.dirty && name.invalid">cancel</mat-icon>
                                        <mat-icon matSuffix *ngIf="name.dirty && name.valid">check_circle</mat-icon>
                              </mat-form-field>
                    
                    
                            </div>
                            <br>
                    
                            <div class="form-group ">
                                <mat-form-field class="w-100">
                                        <input class="" matInput placeholder="Email" formControlName="email">
                                        <mat-icon matSuffix class="text-danger" *ngIf="email.dirty && email.invalid">cancel</mat-icon>
                                        <mat-icon matSuffix *ngIf="email.dirty && email.valid">check_circle</mat-icon>
                                </mat-form-field>
                              
                            </div>
                            <br>
                    
                            <div class="form-group  ">
                               <mat-form-field class="w-100">
                                    <input matInput placeholder="Phone Number" type="text" formControlName="phone">
                                    <mat-icon matSiffix class="text-danger" *ngIf="phone.dirty && phone.invalid">cancel</mat-icon>
                                    <mat-icon matSuffix *ngIf="phone.dirty && phone.valid">check_circle</mat-icon>
                               </mat-form-field>
                            </div>
                            <br>
                    
                    
                            <div class="form-group ">
                                <mat-form-field class="w-100">
                                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                        formControlName="password">
                                    <button  matSuffix mat-icon-button (click)="hide = !hide" type="button" class="m-auto">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <br>
                    
                            <div class="form-group">
                               
                                    <mat-form-field class="w-100">
                                            <input matInput placeholder="Comfirm Password" [type]="hide ? 'password' : 'text'"
                                            formControlName="password_confirmation">
                                        <button matSuffix mat-icon-button type="button" class="m-auto">
                                            <mat-icon class="text-danger"
                                                *ngIf="password_confirmation.dirty && password_confirmation.value != password.value">cancel</mat-icon>
                                            <mat-icon *ngIf="password_confirmation.dirty && password_confirmation.value == password.value">check_circle
                                            </mat-icon>
                                        </button>
                                    </mat-form-field>
                    
                             
                    
                    
                    
                            </div>
                            <br>
                    
                    
                            <div class="form-group">
                                <button color="primary" mat-raised-button class="w-100  p-2 " type="submit"
                                    [disabled]="formData.invalid || submitted">
                                    <span class="d-none d-md-inline lead">{{!submitted ? 'Sign up' : 'Processing...'}}</span>&nbsp;&nbsp;
                                    <i class="fa fa-send font-weight-bold fa-lg " [hidden]="submitted"></i>
                                    <!-- <i class="fa fa-circle-o-notch fa-spin font-weight-bold fa-lg" [hidden]="!submitted"></i> -->
                                    <span [hidden]="!submitted">
                                        <app-loaderdot></app-loaderdot>
                                    </span>
                                </button>
                    
                            </div>
                    
                        </form>
                    
                    
                    
                    </div>
                    
                    <br>
                    <div class="d-flex justify-content-center">
                        <hr class="w-25 bg-dark">
                        <span class="font-wight-bold" style="font-family: cursive;">Or</span>
                        <hr class="w-25 bg-dark">
                    </div>
                    <br>
                    
                    
                    
                    <!-- /////////social media sign up////////////// -->
                    
                    <div class="container  d-flex justify-content-center " id="social-media">
                        <div class="form">
                            <div>
                                <button mat-raised-button class="w-100 bg-primary text-light p-2 " type="button">
                                    <i class="fa fa-facebook fa-lg text-light"></i>
                                    <span class="d-none d-md-inline">&nbsp;Sign up</span>
                                </button>
                            </div>
                            <br>
                            <div>
                                <button mat-raised-button class="w-100 bg-danger text-light p-2 " type="button">
                                    <i class="fa fa-google fa-lg text-light"></i> 
                                    <span class="d-none d-md-inline"> Sign up</span>
                                </button>
                            </div>
                        </div>
                    
                    </div>
                    
                    <br>
                    <br>
                </main>
    </div>
</div>