<main class="container-fluid  "  [ngClass]="night ? 'bg-black-light ': 'bg-light'"    >
    <div class="row " [style.height]="height">
        <div class=" col-md  d-flex p-md-0 p-2 " [ngClass]="night ? 'bg-black-light ': 'bg-image'" >
                <div class="container  align-self-center text-center ">

                    <!-- <p>
                        <img src="/assets/svg/setup.svg" alt="" class="img img-fluid w-50">
                    </p> -->
                      
                            <h1  class="text-center font-weight-bold m-blue-f">
                                <img src="/assets/logos/logo.png" alt="" style="width: 120px;">
                                </h1>
                    
                        <p class="lead text-center" style="font-size: 20px;"
                        [ngClass]="night ? 'text-fade': 'text-dark'">Already have an account. <a routerLink="/login/signin"
                            class="font-weight-bold">Sign In?</a></p>
                        <p class="text-center d-md-none"> <a (click)="scroToSm(); " class="clickable small text-primary font-weight-bold ">
                            Signup with social media?
                        </a></p>

                        
                </div>
        </div>
    
        <!--The form -->
        <div class="col-md  px-md-5 shadow" [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'" >
                <main class="  d-flex justify-content-center  px-md-3 pt-3" >
                        
                          
                      
                      <div class="form px-2 " [ngClass]="night ? 'bg-black-light-2 ': 'bg-white'" >
                          
                          <p class="lead text-center" [ngClass]="night ? 'text-fade': 'text-dark'" >Create your Account </p>
                            
                        <div class="container  ">
                            <form novalidate class=" transparent" [formGroup]="formData" (submit)='submitForm()'>
                                <div class="form-group">
                        
                                  <div class="w-100" [ngClass]="name.dirty && name.invalid ? 'border-danger': ''">
                                       <mat-form-field class="w-100">
                                        <input matInput
                                        [ngClass]="night ? 'bg-black-light-2': 'bg-white'" placeholder="Full Name" formControlName="name">
                                       </mat-form-field>
                                  </div>
                        
                        
                                </div>
                                
                        
                                <div class="form-group ">
                                    <div class="w-100 " [ngClass]="email.dirty && email.invalid ? 'border-danger': ''">
                                            <mat-form-field class="w-100">
                                                <input matInput [ngClass]="night ? 'bg-black-light-2': 'bg-white'"  placeholder="Email address" formControlName="email">
                                                <mat-hint align="end" class="text-danger small " *ngIf="email.touched && email.invalid">
                                                    <i class="fa fa-exclamation-triangle small fa-sm"></i>
                                                    Problem with email, please check.
                                                </mat-hint>
                                            </mat-form-field>
                                            
                                    </div>
                                  
                                </div>
                        
                                <div class="form-group  ">
                                   <div class="w-100 " [ngClass]="phone.dirty && phone.invalid ? 'border-danger': ''">
                                       <mat-form-field class="w-100">
                                        <input matInput
                                        [ngClass]="night ? 'bg-black-light-2': 'bg-white'" placeholder="Phone Number" type="text" formControlName="phone">
                                        <mat-hint align="end" class="text-danger small " *ngIf="phone.touched && phone.invalid">
                                            <i class="fa fa-exclamation-triangle small fa-sm"></i>
                                            Problem with Phone number, pleace check.
                                        </mat-hint>
                                       </mat-form-field>
                                      
                                   </div>
                                </div>
                        
                        
                                <div class="form-group ">
                                    <div class="w-100" [ngClass]="password.dirty && password.invalid ? 'border-danger': ''">
                                            <mat-form-field class="w-100">
                                                <input matInput
                                                [ngClass]="night ? 'bg-black-light-2': 'bg-white'" placeholder="Password" [type]="hide ? 'password' : 'text'"
                                            formControlName="password">
                                            <button mat-icon-button (click)="hide = !hide" matSuffix  type="button" class="m-auto float-right ">
                                                <mat-icon  [ngClass]="hide ? 'text-secondary': 'text-primary'">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-hint  align="end" class="text-danger small " *ngIf="password.touched && password.invalid">
                                                <i class="fa fa-exclamation-triangle small fa-sm"></i>
                                                Problem with Password field, pleace check.
                                            </mat-hint>
                                            </mat-form-field>
                                           
                                    </div>
                                </div>
                                
                        
                                <div class="form-group">
                                   
                                        <div class="w-100" [ngClass]="password_confirmation.dirty && password_confirmation.value != password.value ? 'border-danger': ''">
                                                <mat-form-field class="w-100" >
                                                    <input matInput
                                                 [ngClass]="night ? 'bg-black-light-2': 'bg-white'" placeholder="Confirm Password" [type]="hide ? 'password' : 'text'"
                                                formControlName="password_confirmation">
                                                <mat-hint align="end" class="text-danger small " *ngIf="password_confirmation.dirty && password_confirmation.value != password.value">
                                                    <i class="fa fa-exclamation-triangle small fa-sm"></i>
                                                    Password must match, pleace check.
                                                </mat-hint>
                                                </mat-form-field>

                                           
                                        </div>
                        
                                 
                        
                        
                        
                                </div>
                                <br>
    
                                <div class="d-flex justify-content-center form-group">
                                    <re-captcha  (resolved)="resolved($event)" formControlName="recaptchaReactive" siteKey="6Lf5FNkUAAAAAB_R4zwWbQcTiGeoTMudlLZrqWQz"></re-captcha >
                                </div>

                                <div>
                                    <p class=" lead" style="font-size: 12px; " [ngClass]="night ? 'text-fade' : 'text-secondary'">By clicking Signup, you agree to our 
                                         <a routerLink="/login/signup" class="font-weight-bold">Terms of Use</a>
                                         and our 
                                         <a routerLink="/login/signup" class="font-weight-bold">Privacy Policy</a>
                                    </p>
                                </div>
                        
                        
                                <div class="form-group">
                                    <button  mat-raised-button class="bg-primary w-100 p-2 br-30  shadow" type="submit"
                                        [disabled]="submitted || recaptchaReactive.invalid " >
                                        
                                        <span class=" text-light font-weight-bold">{{!submitted ? 'CREATE ACOUNT' : 'PROCESSING...'}}</span>&nbsp;&nbsp;
                                        <i class="	fa fa-circle-o-notch fa-spin text-light" [hidden]="!submitted"></i>
                                        <!-- <i class="fa fa-circle-o-notch fa-spin font-weight-bold fa-lg" [hidden]="!submitted"></i> -->
                                        <!-- <span [hidden]="!submitted">
                                            <app-loaderdot></app-loaderdot>
                                        </span> -->
                                    </button>
                        
                                </div>
                        
                            </form>
                        
                        
                        
                        </div>
    
                        
                        <div class="d-flex justify-content-center">
                            <hr class="w-25 ">
                            <span class="font-wight-bold small"  [ngClass]="night ? 'text-fade': 'text-dark'">Or</span>
                            <hr class="w-25 ">
                        </div>
                        
                        
                
                        
                        <!-- /////////social media sign up////////////// -->
                        
                        <div class="container  d-flex justify-content-center ">
                                <div class="form d-flex justify-content-around">
                                    <div>
                                        <button mat-button   class="bg-primary  w-100  br-30  p-2 px-3" type="button" (click)="facebookSignup()" >
                                            <span [hidden]="fbStatus">
                                                <i class="fa fa-facebook fa-lg text-light lead"></i>&nbsp;&nbsp;
                                                <span class=" text-light"> FACEBOOK</span>
                                            </span>
                                            <app-loaderdot  [hidden]="!fbStatus"></app-loaderdot>
                                        </button>
                                    </div>
                                    <br>
                                    <div>
                                        <button mat-flat-button color="warn" class="w-100  br-30  p-1 px-3" type="button" (click)="googleSignup()">
                                            <span  [hidden]="goStatus">
                                                <i class="fa fa-google fa-lg text-light lead"></i> &nbsp;&nbsp;
                                                <span class=" text-light"> GOOGLE</span>
                                            </span>
                                            <app-loaderdot  [hidden]="!goStatus"></app-loaderdot>
                                        </button>
                                    </div>
    
                                </div>
                            
                            </div>
    
                            <br>
                      </div>
                        
                      
                        
                        <br>
                        <br>
                    </main>
        </div>
    </div>
</main>