<div class="row">
    <div class=" col-md bg-light d-flex p-2">
            <div class="container  align-self-center text-center ">
                    <p class="text-center">
                            <button mat-icon-button routerLink="/home">
                                <span class="numbers " style="width: 50px; height: 50px; line-height: 45px;">
                                        <i class="	fa fa-home fa-lg" [hidden]="submitted "></i>
                                        <span class="spinner-grow spinner-grow-sm text-light" [hidden]="!submitted "></span>
                                    </span>
                        </button>
                        </p>
                    <h3 class="font-weight-bold  ">Hello!</h3>
                    <!-- <h3 class="font-weight-bold   " style="color:  #3F51B5;"></h3>   -->
                    <p class="lead text-center" style="font-size: 20px;">Already have an account. <a routerLink="/login/signin"
                        class="font-weight-bold">Sign In?</a></p>
                    <p class="text-center"> <a (click)="scroToSm(); " class="clickable small text-dark font-weight-bold ">Social media Sign
                            up</a></p>
            </div>
    </div>

    <!--The form -->
    <div class="col-md">
            <main class="container-fluid p-2 ">
                    <br><br>
                      
                  
                    
                    <div class="container d-flex justify-content-center ">
                        <form novalidate class="form" [formGroup]="formData" (submit)='submitForm()'>
                            <div class="form-group">
                    
                              <div class="w-100 form-search shadow border p-3" [ngClass]="name.dirty && name.invalid ? 'border-danger': ''">
                                    <input class="w-100" placeholder="Full Name" formControlName="name">
                                    <!-- <mat-icon matSuffix class="text-danger" *ngIf="name.dirty && name.invalid">cancel</mat-icon>
                                        <mat-icon matSuffix *ngIf="name.dirty && name.valid">check_circle</mat-icon> -->
                              </div>
                    
                    
                            </div>
                            <br>
                    
                            <div class="form-group ">
                                <div class="w-100 form-search shadow border p-3" [ngClass]="email.dirty && email.invalid ? 'border-danger': ''">
                                        <input class="w-100"  placeholder="Email" formControlName="email">
                                        <!-- <mat-icon matSuffix class="text-danger" *ngIf="email.dirty && email.invalid">cancel</mat-icon>
                                        <mat-icon matSuffix *ngIf="email.dirty && email.valid">check_circle</mat-icon> -->
                                </div>
                              
                            </div>
                            <br>
                    
                            <div class="form-group  ">
                               <div class="w-100 form-search shadow border p-3" [ngClass]="phone.dirty && phone.invalid ? 'border-danger': ''">
                                    <input class="w-100" placeholder="Phone Number" type="text" formControlName="phone">
                                    <!-- <mat-icon matSiffix class="text-danger" *ngIf="phone.dirty && phone.invalid">cancel</mat-icon>
                                    <mat-icon matSuffix *ngIf="phone.dirty && phone.valid">check_circle</mat-icon> -->
                               </div>
                            </div>
                            <br>
                    
                    
                            <div class="form-group ">
                                <div class="w-100 form-search d-flex shadow border p-2" [ngClass]="password.dirty && password.invalid ? 'border-danger': ''">
                                        <input class="w-100" placeholder="Password" [type]="hide ? 'password' : 'text'"
                                        formControlName="password">
                                    <button  matSuffix mat-icon-button (click)="hide = !hide" type="button" class="m-auto">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <br>
                    
                            <div class="form-group">
                               
                                    <div class="w-100 form-search  shadow border p-3" [ngClass]="password_confirmation.dirty && password_confirmation.value != password.value ? 'border-danger': ''">
                                            <input class="w-100" placeholder="Comfirm Password" [type]="hide ? 'password' : 'text'"
                                            formControlName="password_confirmation">
                                        <!-- <button matSuffix mat-icon-button type="button" class="m-auto">
                                            <mat-icon class="text-danger"
                                                *ngIf="password_confirmation.dirty && password_confirmation.value != password.value">cancel</mat-icon>
                                            <mat-icon *ngIf="password_confirmation.dirty && password_confirmation.value == password.value">check_circle
                                            </mat-icon>
                                        </button> -->
                                    </div>
                    
                             
                    
                    
                    
                            </div>
                            <br>
                    
                    
                            <div class="form-group">
                                <button color="primary" mat-raised-button class="w-100  p-1 " type="submit"
                                    [disabled]="formData.invalid || submitted">
                                    <span class="spinner-grow spinner-grow-md " [hidden]="!submitted "></span>
                                    <span class="d-none d-md-inline ">{{!submitted ? 'SIGN UP' : 'PROCESSING...'}}</span>&nbsp;&nbsp;
                                    <i class="fa fa-send font-weight-bold fa-lg d-md-none    " [hidden]="submitted"></i>
                                    <!-- <i class="fa fa-circle-o-notch fa-spin font-weight-bold fa-lg" [hidden]="!submitted"></i> -->
                                    <!-- <span [hidden]="!submitted">
                                        <app-loaderdot></app-loaderdot>
                                    </span> -->
                                </button>
                    
                            </div>
                    
                        </form>
                    
                    
                    
                    </div>
                    
                    <br>
                    <div class="d-flex justify-content-center">
                        <hr class="w-25 bg-dark">
                        <span class="font-wight-bold" style="font-family: cursive;">Or</span>
                        <hr class="w-25 bg-dark">
                    </div>
                    <br>
                    
                    
                    
                    <!-- /////////social media sign up////////////// -->
                    
                    <div class="container  d-flex justify-content-center ">
                            <div class="form">
                                <div>
                                    <button mat-stroked-button class="w-100  p-1 mat-elevation-z4  " type="button">
                                        <i class="fa fa-facebook fa-lg text-primary lead"></i>&nbsp;&nbsp;
                                        <span class="d-none d-md-inline text-secondary">Sign in with Facebook</span>
                                    </button>
                                </div>
                                <br>
                                <div>
                                    <button mat-stroked-button class="w-100 mat-elevation-z4  p-1 " type="button">
                                        <i class="fa fa-google fa-lg text-danger lead"></i> &nbsp;&nbsp;
                                        <span class="d-none d-md-inline text-secondary">Sign in with Google</span>
                                    </button>
                                </div>
                            </div>
                        
                        </div>
                    
                    <br>
                    <br>
                </main>
    </div>
</div>